{
  "openapi": "3.1.0",
  "info": {
    "title": "Dexploit API",
    "version": "1.0.0",
    "description": "Real-time and historical Solana DEX swap and OHLCV data."
  },
  "servers": [
    { "url": "https://api.dexploit.dev", "description": "Production" }
  ],
  "security": [{ "ApiKeyAuth": [] }],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": { "type": "apiKey", "in": "header", "name": "X-API-Key" }
    },
    "schemas": {
      "ErrorEnvelope": {
        "type": "object",
        "required": ["success", "error"],
        "properties": {
          "success": { "type": "boolean", "enum": [false] },
          "error": {
            "type": "object",
            "required": ["code", "message"],
            "properties": {
              "code": { "type": "string", "example": "INVALID_PARAM" },
              "message": { "type": "string", "example": "use pair_address; see /api/v1/pairs?token_address=X to discover pools" }
            }
          }
        }
      },
      "Pair": {
        "type": "object",
        "properties": {
          "pair_address": { "type": "string", "description": "On-chain pool/LP account address" },
          "protocol": { "type": "string", "enum": ["pumpfun", "pumpswap", "raydium", "meteora"] },
          "recent_volume_sol": { "type": "number", "description": "Volume in SOL over a recent rolling window" }
        }
      },
      "Candle": {
        "type": "object",
        "properties": {
          "timestamp":      { "type": "string", "format": "date-time" },
          "pair_address":   { "type": "string" },
          "token_address":  { "type": "string" },
          "base_mint":      { "type": "string", "example": "So11111111111111111111111111111111111111112" },
          "timeframe":      { "type": "string", "enum": ["1s","30s","1m","5m","15m","1h","4h","1d"] },
          "open":           { "type": "number" },
          "high":           { "type": "number" },
          "low":            { "type": "number" },
          "close":          { "type": "number" },
          "volume_sol":     { "type": "number" },
          "volume_token":   { "type": "number" },
          "trade_count":    { "type": "integer" },
          "buy_count":      { "type": "integer" },
          "sell_count":     { "type": "integer" },
          "unique_traders": { "type": "integer" }
        }
      },
      "Swap": {
        "type": "object",
        "properties": {
          "signature":   { "type": "string", "description": "Solana transaction signature" },
          "slot":        { "type": "integer" },
          "timestamp":   { "type": "string", "format": "date-time" },
          "dex":         { "type": "string" },
          "swap_type":   { "type": "string", "enum": ["buy", "sell"] },
          "trader":      { "type": "string" },
          "token_mint":  { "type": "string" },
          "pool_address":{ "type": "string" },
          "sol_amount":  { "type": "integer", "format": "int64", "description": "Lamports (1 SOL = 1e9 lamports)" },
          "token_amount":{ "type": "integer", "format": "int64", "description": "Token base units; divide by 10**token_decimals for human-readable" }
        }
      },
      "Protocol": {
        "type": "object",
        "properties": {
          "name":        { "type": "string", "example": "pumpswap" },
          "label":       { "type": "string", "example": "Pump Swap" },
          "active_pools":{ "type": "integer" }
        }
      },
      "GlobalStats": {
        "type": "object",
        "properties": {
          "total_swaps_24h":   { "type": "integer" },
          "total_volume_sol_24h": { "type": "number" },
          "active_pools_24h":  { "type": "integer" },
          "active_traders_24h":{ "type": "integer" }
        }
      },
      "TraderStats": {
        "type": "object",
        "properties": {
          "wallet":            { "type": "string" },
          "total_swaps":       { "type": "integer" },
          "total_volume_sol":  { "type": "number" },
          "buy_count":         { "type": "integer" },
          "sell_count":        { "type": "integer" },
          "first_seen":        { "type": "string", "format": "date-time" },
          "last_seen":         { "type": "string", "format": "date-time" }
        }
      },
      "TokenStats": {
        "type": "object",
        "properties": {
          "token_mint":        { "type": "string" },
          "total_swaps_24h":   { "type": "integer" },
          "total_volume_sol_24h":{ "type": "number" },
          "unique_traders_24h":{ "type": "integer" },
          "pool_count":        { "type": "integer" }
        }
      },
      "Trending": {
        "type": "object",
        "properties": {
          "token_mint":          { "type": "string" },
          "volume_sol_change_pct": { "type": "number" },
          "volume_sol_24h":      { "type": "number" },
          "swap_count_24h":      { "type": "integer" }
        }
      },
      "TopMover": {
        "type": "object",
        "properties": {
          "pair_address":     { "type": "string" },
          "token_address":    { "type": "string" },
          "price_change_pct": { "type": "number" },
          "current_price":    { "type": "number" },
          "volume_sol_24h":   { "type": "number" }
        }
      },
      "PoolEvent": {
        "type": "object",
        "description": "Non-swap pool activity: LP deposit, LP withdraw, or SPL burn against the LP mint.",
        "properties": {
          "timestamp_ms":    { "type": "integer", "format": "int64", "description": "Event time as Unix milliseconds." },
          "slot":            { "type": "integer", "format": "int64" },
          "signature":       { "type": "string" },
          "event_type":      { "type": "string", "enum": ["lp_deposit", "lp_withdraw", "lp_burn"] },
          "pool_address":    { "type": "string" },
          "token_mint":      { "type": "string" },
          "user":            { "type": "string", "description": "Wallet that initiated the action." },
          "base_amount":     { "type": "integer", "format": "int64", "description": "Token base-mint amount in base units. 0 for `lp_burn`." },
          "quote_amount":    { "type": "integer", "format": "int64", "description": "Quote-mint amount in base units (typically SOL lamports). 0 for `lp_burn`." },
          "lp_token_amount": { "type": "integer", "format": "int64", "description": "LP token amount in base units. For Meteora `lp_deposit` events this is saturated to `u64::MAX` when the underlying value overflows — see [Pool events](/concepts/pool-events)." },
          "dex":             { "type": "string", "enum": ["pumpswap", "raydium", "meteora"] }
        }
      },
      "TokenMetadata": {
        "type": "object",
        "description": "On-chain metadata + audit roll-up for a single mint.",
        "properties": {
          "mint":             { "type": "string" },
          "name":             { "type": ["string", "null"] },
          "symbol":           { "type": ["string", "null"] },
          "decimals":         { "type": "integer" },
          "supply_atomic":    { "type": "integer", "format": "int64", "description": "Token supply in base units (not divided by 10**decimals)." },
          "creator":          { "type": ["string", "null"] },
          "mint_authority":   { "type": ["string", "null"] },
          "freeze_authority": { "type": ["string", "null"] },
          "update_authority": { "type": ["string", "null"] },
          "metadata_uri":     { "type": ["string", "null"] },
          "image_url":        { "type": ["string", "null"] },
          "image_url_cached": { "type": ["string", "null"], "description": "Dexploit-hosted thumbnail; null until the cacher has fetched it." },
          "description":      { "type": ["string", "null"] },
          "twitter":          { "type": ["string", "null"] },
          "telegram":         { "type": ["string", "null"] },
          "website":          { "type": ["string", "null"] },
          "sectors":          { "type": "array", "items": { "type": "string" } },
          "created_at":       { "type": "integer", "description": "Unix seconds." },
          "updated_at":       { "type": "integer", "description": "Unix seconds." },
          "audit": {
            "type": "object",
            "description": "Audit roll-up; mirrors GET /tokens/{mint}/audit minus `computed_at`.",
            "properties": {
              "mint_revoked":   { "type": "boolean" },
              "freeze_revoked": { "type": "boolean" },
              "lp_burnt":       { "type": "boolean" },
              "top10_pct":      { "type": ["number", "null"], "description": "% of supply held by top-10 wallets, 0-100. Null until the holder snapshot completes." }
            }
          }
        }
      },
      "TokenAudit": {
        "type": "object",
        "properties": {
          "mint":           { "type": "string" },
          "mint_revoked":   { "type": "boolean" },
          "freeze_revoked": { "type": "boolean" },
          "lp_burnt":       { "type": "boolean" },
          "top10_pct":      { "type": ["number", "null"] },
          "computed_at":    { "type": "integer", "description": "Unix seconds." }
        }
      },
      "TokenIntel": {
        "type": "object",
        "description": "Aggregated per-mint intel: first buyers, insiders, top holders, dev history, price/volume deltas.",
        "properties": {
          "mint":         { "type": "string" },
          "snipers": {
            "type": "array",
            "description": "First 10 distinct buyers within the first 30 slots after mint.",
            "items": {
              "type": "object",
              "properties": {
                "wallet":   { "type": "string" },
                "buy_slot": { "type": "integer", "format": "int64" },
                "buy_ts":   { "type": "integer", "format": "int64", "description": "Unix milliseconds of the first buy." },
                "tags":     { "type": "array", "items": { "type": "string" } }
              }
            }
          },
          "insiders": {
            "type": "array",
            "description": "Holders with non-zero balance who never traded on a DEX.",
            "items": {
              "type": "object",
              "properties": {
                "wallet":         { "type": "string" },
                "balance_atomic": { "type": "string", "description": "u64 as decimal string to preserve precision above 2^53." },
                "tags":           { "type": "array", "items": { "type": "string" } }
              }
            }
          },
          "top_70": {
            "type": "array",
            "description": "Top 70 holders by balance, enriched with wallet-intel tags.",
            "items": {
              "type": "object",
              "properties": {
                "wallet":         { "type": "string" },
                "balance_atomic": { "type": "string" },
                "pct":            { "type": "number" },
                "tags":           { "type": "array", "items": { "type": "string" } }
              }
            }
          },
          "dev": {
            "type": "object",
            "properties": {
              "wallet":             { "type": "string" },
              "other_tokens": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "mint":       { "type": "string" },
                    "name":       { "type": ["string", "null"] },
                    "symbol":     { "type": ["string", "null"] },
                    "created_at": { "type": "integer" }
                  }
                }
              },
              "success_rate":       { "type": ["number", "null"], "description": "% of this creator's pump.fun mints that graduated. 0-100." },
              "total_launches":     { "type": "integer", "description": "Total pump.fun mints by this creator." },
              "graduated_launches": { "type": "integer" }
            }
          },
          "change_pct": {
            "type": "object",
            "description": "Price change % over the listed windows, computed from the highest-volume pair.",
            "properties": {
              "5m":  { "type": ["number", "null"] },
              "1h":  { "type": ["number", "null"] },
              "6h":  { "type": ["number", "null"] },
              "24h": { "type": ["number", "null"] }
            }
          },
          "bonding_pct":         { "type": ["number", "null"], "description": "Pump.fun bonding-curve completion, 0-1. Null for non-pump.fun mints." },
          "liquidity_usd":       { "type": ["number", "null"] },
          "volume_24h_usd":      { "type": ["number", "null"] },
          "volume_pct_change_24h": { "type": ["number", "null"] },
          "creator_held_pct":    { "type": ["number", "null"] },
          "dev_held_lp_pct":     { "type": ["number", "null"] },
          "holders":             { "type": ["integer", "null"] },
          "computed_at":         { "type": "integer", "format": "int64", "description": "Unix milliseconds." }
        }
      },
      "WalletTagCounts": {
        "type": "object",
        "properties": {
          "mint":   { "type": "string" },
          "counts": {
            "type": "object",
            "description": "How many holders of this mint carry each wallet-intel tag. See [Wallet-intel tags](/concepts/wallet-intel-tags).",
            "properties": {
              "dev":          { "type": "integer" },
              "fresh":        { "type": "integer" },
              "insider":      { "type": "integer" },
              "kol":          { "type": "integer" },
              "smart_money":  { "type": "integer" },
              "sniper":       { "type": "integer" },
              "whale":        { "type": "integer" }
            }
          }
        }
      },
      "Holder": {
        "type": "object",
        "properties": {
          "wallet":         { "type": "string" },
          "balance_atomic": { "type": "string", "description": "u64 as decimal string." },
          "pct":            { "type": "number", "description": "% of total holder-set balance, 0-100." },
          "tags":           { "type": "array", "items": { "type": "string" } }
        }
      },
      "HoldersResponse": {
        "type": "object",
        "properties": {
          "mint":        { "type": "string" },
          "holders":     { "type": "array", "items": { "$ref": "#/components/schemas/Holder" } },
          "snapshot_ts": { "type": "integer", "description": "Unix seconds when the snapshot was taken." },
          "is_partial":  { "type": "boolean", "description": "True when the snapshot was truncated (very large holder sets)." }
        }
      },
      "ConcentrationResponse": {
        "type": "object",
        "description": "Snapshot-driven concentration metrics. See [Holders](/concepts/holders) for the difference between this and `intel.holders`.",
        "properties": {
          "mint":          { "type": "string" },
          "total_holders": { "type": "integer" },
          "top10_pct":     { "type": "number" },
          "top100_pct":    { "type": "number" },
          "gini":          { "type": ["number", "null"], "description": "Gini coefficient over the snapshot, 0-1. Null when the snapshot is too sparse." },
          "snapshot_ts":   { "type": "integer" }
        }
      },
      "WalletPnl": {
        "type": "object",
        "properties": {
          "wallet":            { "type": "string" },
          "window":            { "type": "string", "enum": ["24h", "7d", "30d", "all"] },
          "realized_sol":      { "type": "number" },
          "unrealized_sol":    { "type": "number" },
          "total_volume_sol":  { "type": "number" },
          "win_rate":          { "type": "number", "minimum": 0, "maximum": 1 },
          "sell_count":        { "type": "integer" },
          "realized_usd":      { "type": ["number", "null"] },
          "unrealized_usd":    { "type": ["number", "null"] },
          "total_volume_usd":  { "type": ["number", "null"] },
          "oracle": {
            "type": ["object", "null"],
            "description": "Pyth-Hermes SOL/USD snapshot used to compute the *_usd fields. Null when the oracle was unreachable.",
            "properties": {
              "price":        { "type": "number" },
              "confidence":   { "type": "number", "description": "Pyth confidence interval, same units as `price`." },
              "published_at": { "type": "integer" },
              "source":       { "type": "string", "example": "pyth-hermes" }
            }
          }
        }
      },
      "WalletStats": {
        "type": "object",
        "properties": {
          "wallet":           { "type": "string" },
          "total_trades":     { "type": "integer" },
          "sell_count":       { "type": "integer" },
          "winning_sells":    { "type": "integer" },
          "best_trade_sol":   { "type": "number" },
          "worst_trade_sol":  { "type": "number" },
          "total_volume_sol": { "type": "number" }
        }
      },
      "WalletTrade": {
        "type": "object",
        "properties": {
          "signature":        { "type": "string" },
          "timestamp":        { "type": "integer", "description": "Unix milliseconds." },
          "mint":             { "type": "string" },
          "is_buy":           { "type": "boolean" },
          "sol_amount":       { "type": "number", "description": "Decimal SOL (already divided by 1e9)." },
          "token_amount":     { "type": "integer", "format": "int64" },
          "dex":              { "type": "integer", "description": "DEX enum code; resolve with /api/v1/protocols." },
          "realized_pnl_sol": { "type": ["number", "null"] }
        }
      },
      "WalletHolding": {
        "type": "object",
        "properties": {
          "mint":               { "type": "string" },
          "qty":                { "type": "integer", "format": "int64", "description": "Token amount in base units." },
          "cost_basis_sol":     { "type": "number" },
          "current_value_sol":  { "type": ["number", "null"], "description": "Null when no recent price is available." },
          "unrealized_pnl_sol": { "type": ["number", "null"] },
          "price_stale":        { "type": "boolean", "description": "True when the last-known price is older than the freshness window." }
        }
      },
      "WalletTag": {
        "type": "object",
        "properties": {
          "tag":         { "type": "string", "enum": ["dev", "fresh", "insider", "kol", "smart_money", "sniper", "whale"] },
          "mint":        { "type": "string", "description": "Mint this tag is scoped to. Some tags are mint-scoped (insider, sniper), others are global." },
          "score":       { "type": ["number", "null"] },
          "computed_at": { "type": "integer" }
        }
      },
      "ScreenerRow": {
        "type": "object",
        "properties": {
          "mint":            { "type": "string" },
          "volume_sol":      { "type": "number" },
          "price_per_token": { "type": "number", "description": "Latest price in SOL." },
          "first_ts":        { "type": "integer", "description": "Unix milliseconds of earliest swap in the window." },
          "last_ts":         { "type": "integer", "description": "Unix milliseconds of latest swap in the window." },
          "change_pct":      { "type": "number" },
          "age_hours":       { "type": "number" }
        }
      },
      "PumpLifecycleEvent": {
        "type": "object",
        "properties": {
          "mint":        { "type": "string" },
          "ts":          { "type": "integer", "description": "Unix seconds." },
          "event_type":  { "type": "string", "enum": ["mint_created", "completing", "graduated"] },
          "creator":     { "type": ["string", "null"] },
          "bonding_pct": { "type": "number", "description": "0.0–1.0; 1.0 for `graduated`." },
          "new_pool":    { "type": ["string", "null"], "description": "Post-graduation AMM pool address. Null pre-graduation." },
          "dex":         { "type": ["string", "null"], "description": "Post-graduation DEX, e.g. `pumpswap`." },
          "raw_tx_sig":  { "type": "string" }
        }
      },
      "Alert": {
        "type": "object",
        "required": ["id", "user_id", "name", "rule", "notify", "enabled", "created_at"],
        "properties": {
          "id":         { "type": "string", "format": "uuid" },
          "user_id":    { "type": "string" },
          "name":       { "type": "string" },
          "rule":       { "$ref": "#/components/schemas/AlertRule" },
          "notify": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/AlertNotify" }
          },
          "enabled":    { "type": "boolean" },
          "created_at": { "type": "integer", "description": "Unix seconds." }
        }
      },
      "AlertRule": {
        "type": "object",
        "description": "Tagged union — pick exactly one shape based on `type`.",
        "oneOf": [
          { "type": "object", "required": ["type", "mint", "above_usd"], "properties": { "type": { "const": "price_above" }, "mint": { "type": "string" }, "above_usd": { "type": "number" } } },
          { "type": "object", "required": ["type", "mint", "below_usd"], "properties": { "type": { "const": "price_below" }, "mint": { "type": "string" }, "below_usd": { "type": "number" } } },
          { "type": "object", "required": ["type", "mint", "above_usd_per_window", "window"], "properties": { "type": { "const": "volume_above" }, "mint": { "type": "string" }, "above_usd_per_window": { "type": "number" }, "window": { "type": "string", "enum": ["5m", "15m", "1h", "6h", "24h"] } } },
          { "type": "object", "required": ["type", "dev_wallet"], "properties": { "type": { "const": "new_mint_by_dev" }, "dev_wallet": { "type": "string" } } },
          { "type": "object", "required": ["type", "mint", "wallet_tag"], "properties": { "type": { "const": "tag_buy_on_mint" }, "mint": { "type": "string" }, "wallet_tag": { "type": "string", "enum": ["smart_money", "kol", "whale"] } } },
          { "type": "object", "required": ["type", "mint"], "properties": { "type": { "const": "audit_change_on_mint" }, "mint": { "type": "string" } } }
        ]
      },
      "AlertNotify": {
        "type": "object",
        "oneOf": [
          { "type": "object", "required": ["channel", "address"], "properties": { "channel": { "const": "email" }, "address": { "type": "string", "format": "email" } } },
          { "type": "object", "required": ["channel", "url"], "properties": { "channel": { "const": "webhook" }, "url": { "type": "string", "format": "uri" } } },
          { "type": "object", "required": ["channel", "url"], "properties": { "channel": { "const": "discord" }, "url": { "type": "string", "format": "uri" } } }
        ]
      }
    }
  },
  "paths": {
    "/api/v1/pairs": {
      "get": {
        "summary": "List pools (pairs)",
        "description": "List on-chain pools indexed by Dexploit.\n\nWith no parameters: returns up to `limit` pools across all DEXs. Pass `protocol` to filter by DEX (e.g. `pumpswap`). Pass `token_address` to find every pool that trades a specific token, sorted by recent SOL volume — this is the discovery path for the `pair_address` you'll pass to candle and swap endpoints.\n\n`token_address` and `protocol` can be combined; if both are present, `token_address` is the primary filter.",
        "operationId": "listPairs",
        "tags": ["Pairs"],
        "parameters": [
          { "name": "token_address", "in": "query", "required": false, "schema": { "type": "string" }, "description": "Token mint to find pools for. When set, the response is sorted by recent SOL volume." },
          { "name": "protocol",      "in": "query", "required": false, "schema": { "type": "string", "enum": ["pumpfun", "pumpswap", "raydium", "meteora"] }, "description": "DEX protocol to filter by." },
          { "name": "limit",         "in": "query", "required": false, "schema": { "type": "integer", "default": 50, "minimum": 1, "maximum": 500 } }
        ],
        "responses": {
          "200": {
            "description": "List of pools",
            "content": { "application/json": { "schema": { "type": "object", "properties": { "success": { "type": "boolean", "enum": [true] }, "data": { "type": "array", "items": { "$ref": "#/components/schemas/Pair" } } } } } }
          },
          "401": { "description": "Missing or invalid API key", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } } } },
          "429": { "description": "Quota or rate limit exceeded", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } } } }
        }
      }
    },
    "/api/v1/candles": {
      "get": {
        "summary": "Historical candles for a pool",
        "description": "Returns OHLCV bars for `pair_address` between `start` and `end`. Bars are built from real swap events — see [Swap-event OHLCV](/concepts/swap-event-ohlcv).\n\n**Requires `pair_address`.** Sending `mint`, `pair`, or `protocol` returns 400 with a pointer to /api/v1/pairs.",
        "operationId": "listCandles",
        "tags": ["Candles (OHLCV)"],
        "parameters": [
          { "name": "pair_address", "in": "query", "required": true,  "schema": { "type": "string" } },
          { "name": "timeframe",    "in": "query", "required": true,  "schema": { "type": "string", "enum": ["1s","30s","1m","5m","15m","1h","4h","1d"] } },
          { "name": "start",        "in": "query", "required": false, "schema": { "type": "string", "format": "date-time" } },
          { "name": "end",          "in": "query", "required": false, "schema": { "type": "string", "format": "date-time" }, "description": "Defaults to a 30s-aligned 'now'." },
          { "name": "limit",        "in": "query", "required": false, "schema": { "type": "integer", "default": 1000, "minimum": 1, "maximum": 10000 } }
        ],
        "responses": {
          "200": {
            "description": "Array of candles",
            "content": { "application/json": { "schema": { "type": "object", "properties": { "success": { "type": "boolean", "enum": [true] }, "data": { "type": "array", "items": { "$ref": "#/components/schemas/Candle" } } } } } }
          },
          "400": {
            "description": "Missing pair_address or sent legacy mint/pair/protocol",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" }, "example": { "success": false, "error": { "code": "INVALID_PARAM", "message": "use pair_address; see /api/v1/pairs?token_address=X to discover pools" } } } }
          },
          "401": { "description": "Missing or invalid API key", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } } } },
          "404": { "description": "Unknown pair_address", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } } } },
          "429": { "description": "Quota or rate limit exceeded", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } } } }
        }
      }
    },
    "/api/v1/candles/latest": {
      "get": {
        "summary": "Most recent candles for a pool",
        "description": "Returns the most-recent N candles. Same `pair_address` requirement as /api/v1/candles.",
        "operationId": "listLatestCandles",
        "tags": ["Candles (OHLCV)"],
        "parameters": [
          { "name": "pair_address", "in": "query", "required": true,  "schema": { "type": "string" } },
          { "name": "timeframe",    "in": "query", "required": true,  "schema": { "type": "string", "enum": ["1s","30s","1m","5m","15m","1h","4h","1d"] } },
          { "name": "limit",        "in": "query", "required": false, "schema": { "type": "integer", "default": 100, "minimum": 1, "maximum": 10000 } }
        ],
        "responses": {
          "200": { "description": "Latest candles", "content": { "application/json": { "schema": { "type": "object", "properties": { "success": { "type": "boolean", "enum": [true] }, "data": { "type": "array", "items": { "$ref": "#/components/schemas/Candle" } } } } } } },
          "400": { "description": "Missing pair_address", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } } } },
          "401": { "description": "Missing or invalid API key", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } } } },
          "404": { "description": "Unknown pair_address", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } } } },
          "429": { "description": "Quota or rate limit exceeded", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } } } }
        }
      }
    },
    "/swaps": {
      "get": {
        "summary": "Latest swaps",
        "description": "Returns recent swaps with optional filters. Use this for a real-time-ish polling view; for true real-time, use [WebSocket](/streaming/websocket) or [gRPC](/streaming/grpc).",
        "operationId": "listSwaps",
        "tags": ["Swaps"],
        "parameters": [
          { "name": "limit",    "in": "query", "required": false, "schema": { "type": "integer", "default": 100, "minimum": 1, "maximum": 1000 } },
          { "name": "min_sol",  "in": "query", "required": false, "schema": { "type": "number" }, "description": "Minimum SOL amount (decimal SOL, not lamports)" },
          { "name": "dex",      "in": "query", "required": false, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Array of swaps", "content": { "application/json": { "schema": { "type": "object", "properties": { "success": { "type": "boolean", "enum": [true] }, "data": { "type": "array", "items": { "$ref": "#/components/schemas/Swap" } } } } } } },
          "401": { "description": "Missing or invalid API key", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } } } },
          "429": { "description": "Quota or rate limit exceeded", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } } } }
        }
      }
    },
    "/swaps/range": {
      "get": {
        "summary": "Swaps in a time range",
        "description": "Page through historical swaps within a time or slot range.",
        "operationId": "listSwapsRange",
        "tags": ["Swaps"],
        "parameters": [
          { "name": "start", "in": "query", "required": false, "schema": { "type": "string", "format": "date-time" } },
          { "name": "end",   "in": "query", "required": false, "schema": { "type": "string", "format": "date-time" } },
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "default": 100, "minimum": 1, "maximum": 1000 } }
        ],
        "responses": {
          "200": { "description": "Array of swaps", "content": { "application/json": { "schema": { "type": "object", "properties": { "success": { "type": "boolean", "enum": [true] }, "data": { "type": "array", "items": { "$ref": "#/components/schemas/Swap" } } } } } } },
          "401": { "description": "Missing or invalid API key", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } } } }
        }
      }
    },
    "/swaps/whale": {
      "get": {
        "summary": "Whale swaps (above threshold)",
        "description": "Returns recent swaps with `sol_amount` above a threshold (default 10 SOL).",
        "operationId": "listWhaleSwaps",
        "tags": ["Swaps"],
        "parameters": [
          { "name": "min_sol", "in": "query", "required": false, "schema": { "type": "number", "default": 10 } },
          { "name": "limit",   "in": "query", "required": false, "schema": { "type": "integer", "default": 100, "minimum": 1, "maximum": 1000 } }
        ],
        "responses": {
          "200": { "description": "Array of swaps", "content": { "application/json": { "schema": { "type": "object", "properties": { "success": { "type": "boolean", "enum": [true] }, "data": { "type": "array", "items": { "$ref": "#/components/schemas/Swap" } } } } } } }
        }
      }
    },
    "/swaps/{signature}": {
      "get": {
        "summary": "Single swap by transaction signature",
        "description": "Look up the swap event(s) emitted by a specific Solana transaction.",
        "operationId": "getSwapBySignature",
        "tags": ["Swaps"],
        "parameters": [
          { "name": "signature", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Swap event", "content": { "application/json": { "schema": { "type": "object", "properties": { "success": { "type": "boolean", "enum": [true] }, "data": { "$ref": "#/components/schemas/Swap" } } } } } },
          "404": { "description": "Signature not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } } } }
        }
      }
    },
    "/swaps/trader/{wallet}": {
      "get": {
        "summary": "Swap history for a trader",
        "description": "All swaps a wallet has made, across pools and DEXs.",
        "operationId": "listTraderSwaps",
        "tags": ["Swaps"],
        "parameters": [
          { "name": "wallet", "in": "path",  "required": true, "schema": { "type": "string" } },
          { "name": "limit",  "in": "query", "required": false, "schema": { "type": "integer", "default": 100, "minimum": 1, "maximum": 1000 } }
        ],
        "responses": {
          "200": { "description": "Array of swaps", "content": { "application/json": { "schema": { "type": "object", "properties": { "success": { "type": "boolean", "enum": [true] }, "data": { "type": "array", "items": { "$ref": "#/components/schemas/Swap" } } } } } } }
        }
      }
    },
    "/swaps/token/{mint}": {
      "get": {
        "summary": "Swap history for a token (across pools)",
        "description": "Returns swaps for a token across **every** pool we index. This is one of the few endpoints where token mint (not `pair_address`) is the right input — it intentionally aggregates. See [Pairs vs tokens](/concepts/pairs-vs-tokens).",
        "operationId": "listTokenSwaps",
        "tags": ["Swaps"],
        "parameters": [
          { "name": "mint",  "in": "path",  "required": true, "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "default": 100, "minimum": 1, "maximum": 1000 } }
        ],
        "responses": {
          "200": { "description": "Array of swaps", "content": { "application/json": { "schema": { "type": "object", "properties": { "success": { "type": "boolean", "enum": [true] }, "data": { "type": "array", "items": { "$ref": "#/components/schemas/Swap" } } } } } } }
        }
      }
    },
    "/stats/global": {
      "get": {
        "summary": "Global 24h stats",
        "description": "Aggregate stats across the platform for the last 24h.",
        "operationId": "getGlobalStats",
        "tags": ["Stats & trends"],
        "responses": {
          "200": { "description": "Global stats", "content": { "application/json": { "schema": { "type": "object", "properties": { "success": { "type": "boolean", "enum": [true] }, "data": { "$ref": "#/components/schemas/GlobalStats" } } } } } }
        }
      }
    },
    "/stats/trader/{wallet}": {
      "get": {
        "summary": "Stats for a trader",
        "operationId": "getTraderStats",
        "tags": ["Stats & trends"],
        "parameters": [
          { "name": "wallet", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Trader stats", "content": { "application/json": { "schema": { "type": "object", "properties": { "success": { "type": "boolean", "enum": [true] }, "data": { "$ref": "#/components/schemas/TraderStats" } } } } } }
        }
      }
    },
    "/stats/token/{mint}": {
      "get": {
        "summary": "Stats for a token (across pools)",
        "description": "Aggregate stats for a token mint across every indexed pool. One of the few endpoints where token mint is correct (see [Pairs vs tokens](/concepts/pairs-vs-tokens)).",
        "operationId": "getTokenStats",
        "tags": ["Stats & trends"],
        "parameters": [
          { "name": "mint", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Token stats", "content": { "application/json": { "schema": { "type": "object", "properties": { "success": { "type": "boolean", "enum": [true] }, "data": { "$ref": "#/components/schemas/TokenStats" } } } } } }
        }
      }
    },
    "/trending": {
      "get": {
        "summary": "Trending tokens",
        "description": "Tokens with the largest 24h volume change.",
        "operationId": "listTrending",
        "tags": ["Stats & trends"],
        "parameters": [
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "default": 25, "minimum": 1, "maximum": 100 } }
        ],
        "responses": {
          "200": { "description": "Trending list", "content": { "application/json": { "schema": { "type": "object", "properties": { "success": { "type": "boolean", "enum": [true] }, "data": { "type": "array", "items": { "$ref": "#/components/schemas/Trending" } } } } } } }
        }
      }
    },
    "/api/v1/top-movers": {
      "get": {
        "summary": "Top price movers",
        "description": "Pools with the largest absolute price change over the requested timeframe.",
        "operationId": "listTopMovers",
        "tags": ["Stats & trends"],
        "parameters": [
          { "name": "timeframe", "in": "query", "required": true,  "schema": { "type": "string", "enum": ["1m","5m","15m","1h","4h","1d"] }, "description": "Window over which to compute price change." },
          { "name": "limit",     "in": "query", "required": false, "schema": { "type": "integer", "default": 25, "minimum": 1, "maximum": 100 } }
        ],
        "responses": {
          "200": { "description": "Top movers", "content": { "application/json": { "schema": { "type": "object", "properties": { "success": { "type": "boolean", "enum": [true] }, "data": { "type": "array", "items": { "$ref": "#/components/schemas/TopMover" } } } } } } },
          "400": { "description": "Missing or invalid `timeframe`", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" }, "example": { "success": false, "error": { "code": "INVALID_PARAM", "message": "Failed to deserialize query string: missing field `timeframe`" } } } } }
        }
      }
    },
    "/api/v1/protocols": {
      "get": {
        "summary": "List supported DEX protocols",
        "operationId": "listProtocols",
        "tags": ["Stats & trends"],
        "responses": {
          "200": { "description": "List of supported DEX protocols", "content": { "application/json": { "schema": { "type": "object", "properties": { "success": { "type": "boolean", "enum": [true] }, "data": { "type": "array", "items": { "$ref": "#/components/schemas/Protocol" } } } } } } }
        }
      }
    },
    "/api/v1/stats": {
      "get": {
        "summary": "Aggregate platform stats",
        "description": "Roll-up stats across the OHLCV index.",
        "operationId": "getOhlcvStats",
        "tags": ["Stats & trends"],
        "responses": {
          "200": { "description": "Aggregate stats", "content": { "application/json": { "schema": { "type": "object", "properties": { "success": { "type": "boolean", "enum": [true] }, "data": { "type": "object" } } } } } }
        }
      }
    },
    "/pool-events": {
      "get": {
        "summary": "Non-swap pool activity",
        "description": "LP deposits, LP withdraws, and SPL burns against the LP mint, across pumpswap / raydium / meteora. `token` is required — there is no unfiltered scan. See [Pool events](/concepts/pool-events) for the per-DEX caveats.",
        "operationId": "listPoolEvents",
        "tags": ["Pool events"],
        "parameters": [
          { "name": "token",  "in": "query", "required": true,  "schema": { "type": "string" }, "description": "Token mint to filter by." },
          { "name": "limit",  "in": "query", "required": false, "schema": { "type": "integer", "default": 100, "minimum": 1, "maximum": 500 } },
          { "name": "before", "in": "query", "required": false, "schema": { "type": "integer", "format": "int64" }, "description": "Cursor — return events with `timestamp_ms` strictly less than this. Use `events[events.length-1].timestamp_ms` for the next page." }
        ],
        "responses": {
          "200": {
            "description": "Pool-event page",
            "content": { "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "events":   { "type": "array", "items": { "$ref": "#/components/schemas/PoolEvent" } },
                  "total":    { "type": "integer", "description": "Number of events in this page (equals `events.length`)." },
                  "has_more": { "type": "boolean", "description": "True when `total == limit`; use `before` to page." }
                }
              },
              "examples": {
                "empty": {
                  "summary": "Mint with no LP activity yet",
                  "value": { "events": [], "total": 0, "has_more": false }
                }
              }
            } }
          },
          "400": { "description": "Missing required `token`", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } } } },
          "401": { "description": "Missing or invalid API key", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } } } }
        }
      }
    },
    "/tokens": {
      "get": {
        "summary": "Batch token metadata",
        "description": "Look up metadata + audit roll-up for many mints in one call. Accepts a comma-separated `mints` list; the response order is not guaranteed to match input order — key by `mint`.",
        "operationId": "listTokens",
        "tags": ["Tokens"],
        "parameters": [
          { "name": "mints", "in": "query", "required": true, "schema": { "type": "string" }, "description": "Comma-separated mint list. Practical cap ~200 per call." }
        ],
        "responses": {
          "200": {
            "description": "Token list",
            "content": { "application/json": {
              "schema": {
                "type": "object",
                "properties": { "tokens": { "type": "array", "items": { "$ref": "#/components/schemas/TokenMetadata" } } }
              },
              "examples": {
                "trump": {
                  "summary": "Single mint",
                  "value": { "tokens": [{ "mint": "6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN", "name": "OFFICIAL TRUMP", "symbol": "TRUMP", "decimals": 6, "supply_atomic": 999999111489892, "creator": "5e2qRc1DNEXmyxP8qwPwJhRWjef7usLyi7v5xjqLr5G7", "mint_authority": null, "freeze_authority": null, "update_authority": "5e2qRc1DNEXmyxP8qwPwJhRWjef7usLyi7v5xjqLr5G7", "metadata_uri": "https://arweave.net/cSCP0h2n1crjeSWE9KF-XtLciJalDNFs7Vf-Sm0NNY0", "image_url": null, "image_url_cached": null, "description": null, "twitter": null, "telegram": null, "website": null, "sectors": [], "created_at": 1778892001, "updated_at": 1778892001, "audit": { "mint_revoked": true, "freeze_revoked": true, "lp_burnt": true, "top10_pct": null } }] }
                }
              }
            } }
          },
          "401": { "description": "Missing or invalid API key", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } } } }
        }
      }
    },
    "/tokens/{mint}": {
      "get": {
        "summary": "Single token metadata",
        "description": "Metadata + audit roll-up for one mint. Equivalent to `/tokens?mints=<mint>` but returns the bare `TokenMetadata` object (no wrapping `tokens` array).",
        "operationId": "getToken",
        "tags": ["Tokens"],
        "parameters": [
          { "name": "mint", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Token metadata", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TokenMetadata" } } } },
          "404": { "description": "Mint not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } } } }
        }
      }
    },
    "/tokens/{mint}/audit": {
      "get": {
        "summary": "Mint audit flags",
        "description": "Mint-authority / freeze-authority / LP-burn audit flags plus the top-10 concentration percentage. `top10_pct` is null until the first holder snapshot completes — kick one off with [POST /tokens/{mint}/snapshot-now](/api-reference/tokens/post-snapshot-now).",
        "operationId": "getTokenAudit",
        "tags": ["Tokens"],
        "parameters": [
          { "name": "mint", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Audit flags",
            "content": { "application/json": {
              "schema": { "$ref": "#/components/schemas/TokenAudit" },
              "examples": {
                "trump": { "value": { "mint": "6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN", "mint_revoked": true, "freeze_revoked": true, "lp_burnt": true, "top10_pct": null, "computed_at": 1778892001 } }
              }
            } }
          }
        }
      }
    },
    "/tokens/{mint}/intel": {
      "get": {
        "summary": "Aggregated mint intel",
        "description": "One-call dashboard view: first buyers, insiders, top holders, dev history, price/volume deltas, holders count. Cached 60s in-process and 30s at the edge.\n\nThe `snipers` / `insiders` paths trigger a fire-and-forget recompute on cold cache — the first call after a long idle may return empty arrays; the next call has data.",
        "operationId": "getTokenIntel",
        "tags": ["Tokens"],
        "parameters": [
          { "name": "mint", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Intel surface",
            "content": { "application/json": {
              "schema": { "$ref": "#/components/schemas/TokenIntel" },
              "examples": {
                "trump": { "value": { "mint": "6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN", "snipers": [], "insiders": [], "top_70": [], "dev": { "wallet": "5e2qRc1DNEXmyxP8qwPwJhRWjef7usLyi7v5xjqLr5G7", "other_tokens": [{ "mint": "JCMrK3WjPAjpoGCKwCw4ufTXh2uWJMeG3BzuPVmec3C1", "name": "Barron Meme", "symbol": "BARRON", "created_at": 1778912847 }], "success_rate": null, "total_launches": 0, "graduated_launches": 0 }, "change_pct": { "5m": -0.04, "1h": -0.04, "6h": 0.15, "24h": -0.61 }, "bonding_pct": null, "liquidity_usd": 4926.6, "volume_24h_usd": 116.47, "volume_pct_change_24h": 34.69, "creator_held_pct": 0.0, "dev_held_lp_pct": null, "holders": 1949, "computed_at": 1779267273768 } }
              }
            } }
          }
        }
      }
    },
    "/tokens/{mint}/wallet-tag-counts": {
      "get": {
        "summary": "Wallet-intel tag counts for a mint",
        "description": "Counts of holders carrying each [wallet-intel tag](/concepts/wallet-intel-tags). Sourced from the latest holder snapshot crossed with the wallet-tags table.",
        "operationId": "getWalletTagCounts",
        "tags": ["Tokens"],
        "parameters": [
          { "name": "mint", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Counts per tag",
            "content": { "application/json": {
              "schema": { "$ref": "#/components/schemas/WalletTagCounts" },
              "examples": {
                "trump": { "value": { "mint": "6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN", "counts": { "dev": 0, "fresh": 57, "insider": 0, "kol": 0, "smart_money": 72, "sniper": 0, "whale": 21 } } }
              }
            } }
          }
        }
      }
    },
    "/tokens/{mint}/holders": {
      "get": {
        "summary": "Top holders snapshot",
        "description": "Per-wallet balances from the most recent holder snapshot for this mint. See [Holders](/concepts/holders) for snapshot freshness vs. live-trade-derived counts.\n\nCold mints return an empty `holders` array with `snapshot_ts` set to the time the empty placeholder was written; kick a real snapshot with [POST /tokens/{mint}/snapshot-now](/api-reference/holders/post-snapshot-now).",
        "operationId": "getTokenHolders",
        "tags": ["Holders"],
        "parameters": [
          { "name": "mint",   "in": "path",  "required": true,  "schema": { "type": "string" } },
          { "name": "limit",  "in": "query", "required": false, "schema": { "type": "integer", "default": 100, "minimum": 1, "maximum": 1000 } },
          { "name": "offset", "in": "query", "required": false, "schema": { "type": "integer", "default": 0,   "minimum": 0 } }
        ],
        "responses": {
          "200": {
            "description": "Holder page",
            "content": { "application/json": {
              "schema": { "$ref": "#/components/schemas/HoldersResponse" },
              "examples": {
                "single-holder": { "value": { "mint": "H1CZHrJJSatJHbjMEWfRw7aEkx4Q5ykJasGsBcK36JQe", "holders": [{ "wallet": "HLnpSz9h2S4hiLQ43rnSD9XkcUThA7B8hQMKmDaiTLcC", "balance_atomic": "694177566105", "pct": 100.0, "tags": [] }], "snapshot_ts": 1779267383, "is_partial": false } }
              }
            } }
          }
        }
      }
    },
    "/tokens/{mint}/concentration": {
      "get": {
        "summary": "Holder-set concentration",
        "description": "Snapshot-derived concentration metrics: total holders, top-10 / top-100 percentages, and Gini coefficient. Read against the same snapshot as [/tokens/{mint}/holders](/api-reference/holders/get-tokenholders).",
        "operationId": "getTokenConcentration",
        "tags": ["Holders"],
        "parameters": [
          { "name": "mint", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Concentration metrics",
            "content": { "application/json": {
              "schema": { "$ref": "#/components/schemas/ConcentrationResponse" },
              "examples": {
                "single-holder": { "value": { "mint": "H1CZHrJJSatJHbjMEWfRw7aEkx4Q5ykJasGsBcK36JQe", "total_holders": 1, "top10_pct": 100.0, "top100_pct": 100.0, "gini": null, "snapshot_ts": 1779267382 } }
              }
            } }
          }
        }
      }
    },
    "/tokens/{mint}/snapshot-now": {
      "post": {
        "summary": "Enqueue on-demand holder snapshot",
        "description": "Queue an immediate holder-snapshot run for this mint. The endpoint returns 202 as soon as the job is queued — the snapshot completes asynchronously (typically under a minute). Poll [/tokens/{mint}/holders](/api-reference/holders/get-tokenholders) for the result.",
        "operationId": "postSnapshotNow",
        "tags": ["Holders"],
        "parameters": [
          { "name": "mint", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "202": {
            "description": "Snapshot queued",
            "content": { "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "mint":               { "type": "string" },
                  "queued":             { "type": "boolean" },
                  "estimated_seconds":  { "type": "integer", "description": "Rough ETA until the snapshot is written." }
                }
              },
              "examples": {
                "trump": { "value": { "mint": "6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN", "queued": true, "estimated_seconds": 35 } }
              }
            } }
          }
        }
      }
    },
    "/wallets/{addr}/pnl": {
      "get": {
        "summary": "Realized + unrealized PnL",
        "description": "Realized and unrealized SOL + USD PnL over a window. USD values use the embedded Pyth SOL/USD snapshot — keep `oracle.confidence` in mind when consuming `*_usd` fields.",
        "operationId": "getWalletPnl",
        "tags": ["Wallets"],
        "parameters": [
          { "name": "addr",   "in": "path",  "required": true,  "schema": { "type": "string" } },
          { "name": "window", "in": "query", "required": false, "schema": { "type": "string", "enum": ["24h", "7d", "30d", "all"], "default": "30d" } }
        ],
        "responses": {
          "200": {
            "description": "PnL",
            "content": { "application/json": {
              "schema": { "$ref": "#/components/schemas/WalletPnl" },
              "examples": {
                "idle-wallet": { "value": { "wallet": "5Q544fKrFoe6tsEbD7S8EmxGTJYAKtTVhAW5Q5pge4j1", "window": "30d", "realized_sol": 0.0, "unrealized_sol": 0.0, "total_volume_sol": 0.0, "win_rate": 0.0, "sell_count": 0, "realized_usd": 0.0, "unrealized_usd": 0.0, "total_volume_usd": 0.0, "oracle": { "price": 83.98909965, "confidence": 0.07002029, "published_at": 1779231744, "source": "pyth-hermes" } } }
              }
            } }
          }
        }
      }
    },
    "/wallets/{addr}/stats": {
      "get": {
        "summary": "Wallet trade-count + volume",
        "description": "Counter-based stats: total trades, sells, winning sells, best/worst trade in SOL, total volume in SOL.",
        "operationId": "getWalletStats",
        "tags": ["Wallets"],
        "parameters": [
          { "name": "addr",   "in": "path",  "required": true,  "schema": { "type": "string" } },
          { "name": "window", "in": "query", "required": false, "schema": { "type": "string", "enum": ["24h", "7d", "30d", "all"], "default": "30d" } }
        ],
        "responses": {
          "200": {
            "description": "Stats",
            "content": { "application/json": {
              "schema": { "$ref": "#/components/schemas/WalletStats" },
              "examples": {
                "idle-wallet": { "value": { "wallet": "5Q544fKrFoe6tsEbD7S8EmxGTJYAKtTVhAW5Q5pge4j1", "total_trades": 0, "sell_count": 0, "winning_sells": 0, "best_trade_sol": 0.0, "worst_trade_sol": 0.0, "total_volume_sol": 0.0 } }
              }
            } }
          }
        }
      }
    },
    "/wallets/{addr}/trades": {
      "get": {
        "summary": "Wallet trade history",
        "description": "Paged list of swap-trades for one wallet, newest first. Page with `before` (Unix milliseconds) using `next_before` from the previous page.",
        "operationId": "getWalletTrades",
        "tags": ["Wallets"],
        "parameters": [
          { "name": "addr",   "in": "path",  "required": true,  "schema": { "type": "string" } },
          { "name": "limit",  "in": "query", "required": false, "schema": { "type": "integer", "default": 100, "minimum": 1, "maximum": 1000 } },
          { "name": "before", "in": "query", "required": false, "schema": { "type": "integer", "format": "int64" }, "description": "Cursor — return trades with timestamp strictly less than this." }
        ],
        "responses": {
          "200": {
            "description": "Trade page",
            "content": { "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "wallet":      { "type": "string" },
                  "trades":      { "type": "array", "items": { "$ref": "#/components/schemas/WalletTrade" } },
                  "next_before": { "type": ["integer", "null"], "description": "Pass back as `before` for the next page. Null at the end of history." }
                }
              },
              "examples": {
                "idle-wallet": { "value": { "wallet": "5Q544fKrFoe6tsEbD7S8EmxGTJYAKtTVhAW5Q5pge4j1", "trades": [], "next_before": null } }
              }
            } }
          }
        }
      }
    },
    "/wallets/{addr}/holdings": {
      "get": {
        "summary": "Current holdings + cost basis",
        "description": "Per-mint holdings with cost-basis and (when a recent price is available) current value and unrealized PnL.",
        "operationId": "getWalletHoldings",
        "tags": ["Wallets"],
        "parameters": [
          { "name": "addr", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Holdings list",
            "content": { "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "wallet":   { "type": "string" },
                  "holdings": { "type": "array", "items": { "$ref": "#/components/schemas/WalletHolding" } }
                }
              },
              "examples": {
                "idle-wallet": { "value": { "wallet": "5Q544fKrFoe6tsEbD7S8EmxGTJYAKtTVhAW5Q5pge4j1", "holdings": [] } }
              }
            } }
          }
        }
      }
    },
    "/wallets/{addr}/tags": {
      "get": {
        "summary": "Wallet-intel tags",
        "description": "Cohort tags this wallet has earned (dev, fresh, insider, kol, smart_money, sniper, whale). See [Wallet-intel tags](/concepts/wallet-intel-tags) for what each tag means and how it's computed.",
        "operationId": "getWalletTags",
        "tags": ["Wallets"],
        "parameters": [
          { "name": "addr", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Tag list",
            "content": { "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "wallet":       { "type": "string" },
                  "tags":         { "type": "array", "items": { "$ref": "#/components/schemas/WalletTag" } },
                  "computed_at":  { "type": "integer" }
                }
              },
              "examples": {
                "insider": { "value": { "wallet": "5Q544fKrFoe6tsEbD7S8EmxGTJYAKtTVhAW5Q5pge4j1", "tags": [{ "tag": "insider", "mint": "Dz9mQ9NzkBcCsuGPFJ3r1bS4wgqKMHBPiVuniW8Mbonk", "score": null, "computed_at": 1779011132 }], "computed_at": 1779011132 } }
              }
            } }
          }
        }
      }
    },
    "/screener": {
      "post": {
        "summary": "Multi-filter token screener",
        "description": "ClickHouse-backed screener over the swap index. Body filters combine as AND; results are paged via `limit` (cap 500) + `offset`.\n\nA few filters are accepted but **silently ignored** in this release — when they are, the response carries an `X-Filter-Deferred` header listing the skipped names. Currently deferred: `audit`, `liquidity_sol`, `trending_score`, and `sectors` when the sector cache is cold.",
        "operationId": "postScreener",
        "tags": ["Screener"],
        "requestBody": {
          "required": false,
          "content": { "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "filters": {
                  "type": "object",
                  "properties": {
                    "liquidity_sol":  { "type": "object", "properties": { "min": { "type": "number" }, "max": { "type": "number" } } },
                    "volume_sol":     { "type": "object", "properties": { "window": { "type": "string", "enum": ["5m", "15m", "1h", "6h", "24h"] }, "min": { "type": "number" }, "max": { "type": "number" } } },
                    "age_hours":      { "type": "object", "properties": { "min": { "type": "number" }, "max": { "type": "number" } } },
                    "change_pct":     { "type": "object", "properties": { "window": { "type": "string", "enum": ["5m", "15m", "1h", "6h", "24h"] }, "min": { "type": "number" }, "max": { "type": "number" } } },
                    "audit": {
                      "type": "object",
                      "description": "Currently deferred — accepted but ignored.",
                      "properties": {
                        "mint_revoked":   { "type": "boolean" },
                        "freeze_revoked": { "type": "boolean" },
                        "lp_burnt":       { "type": "boolean" }
                      }
                    },
                    "trending_score": { "type": "object", "description": "Currently deferred — accepted but ignored.", "properties": { "min": { "type": "number" }, "max": { "type": "number" } } },
                    "sectors":        { "type": "array", "items": { "type": "string" } },
                    "dexes":          { "type": "array", "items": { "type": "string", "enum": ["pumpfun", "pumpswap", "raydium", "meteora"] } }
                  }
                },
                "sort": {
                  "type": "object",
                  "properties": {
                    "by":    { "type": "string", "enum": ["volume_sol", "change_pct", "liquidity_sol", "trending_score", "age_hours"] },
                    "order": { "type": "string", "enum": ["asc", "desc"] }
                  }
                },
                "limit":  { "type": "integer", "default": 200, "minimum": 1, "maximum": 500 },
                "offset": { "type": "integer", "default": 0,   "minimum": 0 }
              }
            },
            "examples": {
              "top-volume": {
                "summary": "Top by 1h volume",
                "value": { "limit": 3 }
              }
            }
          } }
        },
        "responses": {
          "200": {
            "description": "Screener results",
            "content": { "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "results":       { "type": "array", "items": { "$ref": "#/components/schemas/ScreenerRow" } },
                  "total_matches": { "type": "integer" },
                  "limit":         { "type": "integer" },
                  "offset":        { "type": "integer" }
                }
              },
              "examples": {
                "top-volume": { "value": { "results": [{ "mint": "72RNEeCtmFeBRBYe9sFDUHAx5Z2TGDQxKWJbXyjWqtXu", "volume_sol": 100846.31, "price_per_token": 0.000635815, "last_ts": 1779267004000, "first_ts": 1779263842000, "change_pct": 98.67, "age_hours": 0.88 }], "total_matches": 3249, "limit": 3, "offset": 0 } }
              }
            } }
          }
        }
      }
    },
    "/pump-lifecycle": {
      "get": {
        "summary": "Pump.fun mint lifecycle events",
        "description": "Newly-created, completing (near the 85 SOL graduation threshold), or graduated pump.fun mints. Filter with `status`; page back in time with `before` (Unix seconds) using `next_before_ts` from the previous response.",
        "operationId": "listPumpLifecycle",
        "tags": ["Pump lifecycle"],
        "parameters": [
          { "name": "status", "in": "query", "required": false, "schema": { "type": "string", "enum": ["new", "completing", "migrated"], "default": "new" }, "description": "`new` = mint created. `completing` = bonding curve >80%. `migrated` = graduated to an AMM pool." },
          { "name": "limit",  "in": "query", "required": false, "schema": { "type": "integer", "default": 30, "minimum": 1, "maximum": 100 } },
          { "name": "before", "in": "query", "required": false, "schema": { "type": "integer", "description": "Unix seconds cursor." } }
        ],
        "responses": {
          "200": {
            "description": "Lifecycle page",
            "content": { "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status":         { "type": "string" },
                  "events":         { "type": "array", "items": { "$ref": "#/components/schemas/PumpLifecycleEvent" } },
                  "next_before_ts": { "type": ["integer", "null"], "description": "Pass as `before` for the next page. Null when no events were returned." }
                }
              },
              "examples": {
                "new": { "value": { "status": "new", "events": [{ "mint": "5vr7MuT86gDRiYtnGovb8DBNExzLuVxPss97YYd3pump", "ts": 1779267293, "event_type": "mint_created", "creator": "9UeZqg937qFPRat6j4Y32ANc2Hnf5WGz2fwrmsJZKe4N", "bonding_pct": 0.0, "new_pool": null, "dex": null, "raw_tx_sig": "4g9X..." }], "next_before_ts": 1779267293 } },
                "migrated": { "value": { "status": "migrated", "events": [{ "mint": "BPQp7KCHWfJQB2JRhfdEZ4dv59RstKv6TFn3dMBQpump", "ts": 1779267288, "event_type": "graduated", "creator": null, "bonding_pct": 1.0, "new_pool": "25K4YmyRwBQ1UA3RJ37kgRLEPMm7iBEY5aNiNj92nbn2", "dex": "pumpswap", "raw_tx_sig": "2UjA..." }], "next_before_ts": 1779267288 } }
              }
            } }
          },
          "500": { "description": "Unknown `status` (the server returns the error message in the body)" }
        }
      }
    },
    "/alerts": {
      "get": {
        "summary": "List your alerts",
        "description": "Returns every alert configured on the authenticated user's account.\n\n**Status:** the terminal alert surface is currently in fixture-mode — responses are stable shapes but writes do not yet persist and notifications are not yet delivered. Track integration status via [status.dexploit.dev](https://www.dexploit.dev/status).",
        "operationId": "listAlerts",
        "tags": ["Alerts"],
        "responses": {
          "200": {
            "description": "Alert list",
            "content": { "application/json": {
              "schema": {
                "type": "object",
                "properties": { "alerts": { "type": "array", "items": { "$ref": "#/components/schemas/Alert" } } }
              }
            } }
          }
        }
      },
      "post": {
        "summary": "Create an alert",
        "description": "Create a new alert rule with one or more notification channels. See [GET /alerts](/api-reference/alerts/listalerts) for the fixture-mode caveat.",
        "operationId": "createAlert",
        "tags": ["Alerts"],
        "requestBody": {
          "required": true,
          "content": { "application/json": {
            "schema": {
              "type": "object",
              "required": ["name", "rule", "notify"],
              "properties": {
                "name":    { "type": "string" },
                "rule":    { "$ref": "#/components/schemas/AlertRule" },
                "notify":  { "type": "array", "minItems": 1, "items": { "$ref": "#/components/schemas/AlertNotify" } },
                "enabled": { "type": "boolean", "default": true }
              }
            },
            "examples": {
              "price-above": {
                "value": { "name": "TRUMP over $1", "rule": { "type": "price_above", "mint": "6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN", "above_usd": 1.0 }, "notify": [{ "channel": "email", "address": "you@example.com" }], "enabled": true }
              }
            }
          } }
        },
        "responses": {
          "200": { "description": "Created alert", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Alert" } } } }
        }
      }
    },
    "/alerts/{id}": {
      "patch": {
        "summary": "Update an alert",
        "description": "Partial update — only send the fields you want to change. Same fixture-mode caveat as [GET /alerts](/api-reference/alerts/listalerts).",
        "operationId": "updateAlert",
        "tags": ["Alerts"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "requestBody": {
          "required": true,
          "content": { "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "name":    { "type": "string" },
                "rule":    { "$ref": "#/components/schemas/AlertRule" },
                "notify":  { "type": "array", "items": { "$ref": "#/components/schemas/AlertNotify" } },
                "enabled": { "type": "boolean" }
              }
            },
            "examples": {
              "pause": { "value": { "enabled": false } }
            }
          } }
        },
        "responses": {
          "200": { "description": "Updated alert", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Alert" } } } }
        }
      },
      "delete": {
        "summary": "Delete an alert",
        "description": "Delete an alert by id. Same fixture-mode caveat as [GET /alerts](/api-reference/alerts/listalerts).",
        "operationId": "deleteAlert",
        "tags": ["Alerts"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": { "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id":      { "type": "string", "format": "uuid" },
                  "deleted": { "type": "boolean" }
                }
              }
            } }
          }
        }
      }
    },
    "/health": {
      "get": {
        "summary": "Liveness probe",
        "description": "Returns 200 if the API process is alive. Requires authentication like every other endpoint.",
        "operationId": "getHealth",
        "tags": ["Health"],
        "responses": {
          "200": { "description": "OK", "content": { "text/plain": { "schema": { "type": "string", "example": "ok" } } } },
          "401": { "description": "Missing or invalid API key", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } } } }
        }
      }
    },
    "/ready": {
      "get": {
        "summary": "Readiness probe",
        "description": "Returns 200 if dependencies (ClickHouse, cache) are healthy; 503 otherwise. Requires authentication.",
        "operationId": "getReady",
        "tags": ["Health"],
        "responses": {
          "200": { "description": "Ready" },
          "401": { "description": "Missing or invalid API key", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } } } },
          "503": { "description": "Dependency unavailable" }
        }
      }
    }
  }
}
