{
  "openapi": "3.1.0",
  "info": {
    "title": "Dexploit API",
    "version": "1.0.0",
    "description": "Real-time and historical Solana DEX swap and OHLCV data."
  },
  "servers": [
    {
      "url": "https://api.dexploit.dev",
      "description": "Production"
    }
  ],
  "security": [
    {
      "ApiKeyHeader": []
    },
    {
      "BearerAuth": []
    },
    {
      "ApiKeyQuery": []
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Preferred for swaps-api endpoints (`/swaps/*`, `/stats/*`, `/trending`, `/pool-events`)."
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Required by the OHLCV endpoints (`/api/v1/*`) and accepted by every other endpoint. Send `Authorization: Bearer ohlcv_live_sk_<your_key>`."
      },
      "ApiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "Browser-friendly alternative to the Bearer header — accepted by every endpoint and required for WebSocket from the browser."
      }
    },
    "schemas": {
      "ErrorEnvelope": {
        "type": "object",
        "required": [
          "success",
          "error"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "string",
                "example": "INVALID_PARAM"
              },
              "message": {
                "type": "string",
                "example": "use pair_address; see /api/v1/pairs?token_address=X to discover pools"
              }
            }
          }
        }
      },
      "Pair": {
        "type": "object",
        "properties": {
          "pair_address": {
            "type": "string",
            "description": "On-chain pool/LP account address"
          },
          "protocol": {
            "$ref": "#/components/schemas/Protocol"
          },
          "recent_volume_sol": {
            "type": "number",
            "description": "Volume in SOL over a recent rolling window"
          }
        }
      },
      "Candle": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Bar open time (UTC)."
          },
          "pair_address": {
            "type": "string"
          },
          "token_address": {
            "type": "string"
          },
          "base_mint": {
            "type": "string",
            "example": "So11111111111111111111111111111111111111112",
            "description": "Base side of the pool — almost always wrapped SOL."
          },
          "timeframe": {
            "type": "string",
            "enum": [
              "1s",
              "30s",
              "1m",
              "5m",
              "15m",
              "1h",
              "4h",
              "1d"
            ]
          },
          "open": {
            "type": "number",
            "description": "SOL per 1 token, decimals-adjusted."
          },
          "high": {
            "type": "number"
          },
          "low": {
            "type": "number"
          },
          "close": {
            "type": "number"
          },
          "volume_sol": {
            "type": "integer",
            "format": "int64",
            "description": "**Lamports**, despite the field name. Divide by 1e9 to get SOL."
          },
          "volume_token": {
            "type": "integer",
            "format": "int64",
            "description": "Token base units. Divide by 10**`quote_decimals` for human-readable."
          },
          "trade_count": {
            "type": "integer"
          },
          "buy_count": {
            "type": "integer"
          },
          "sell_count": {
            "type": "integer"
          },
          "unique_traders": {
            "type": "integer"
          }
        }
      },
      "DexId": {
        "type": "integer",
        "description": "Integer DEX identifier used in raw swap rows. Mapping:\n\n| ID | DEX |\n| -- | --- |\n| 1  | `pumpfun` |\n| 2  | `pumpswap` |\n| 3  | `raydium_amm` |\n| 4  | `raydium_clmm` |\n| 5  | `raydium_cpmm` |\n| 6  | `orca` |\n| 7  | `meteora_damm_v2` |\n| 8  | `meteora_dbc` |\n| 9  | `meteora_dlmm` |\n| 10 | `meteora_pools` |",
        "enum": [
          1,
          2,
          3,
          4,
          5,
          6,
          7,
          8,
          9,
          10
        ]
      },
      "Swap": {
        "type": "object",
        "description": "A single swap event from the raw swaps index. Same shape across `/swaps`, `/swaps/range`, `/swaps/whale`, `/swaps/{signature}`, `/swaps/trader/{wallet}`, `/swaps/token/{mint}`.\n\nNote that the streaming feeds (WebSocket and gRPC) use a *different* shape — see [WebSocket wire format](/streaming/websocket) — most notably `swap_type` (string) vs `is_buy` (bool) here, and `dex` as the string name vs `dex` as the integer ID here.",
        "properties": {
          "signature": {
            "type": "string",
            "description": "Solana transaction signature (base58)."
          },
          "slot": {
            "type": "integer",
            "format": "int64"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64",
            "description": "Unix epoch **milliseconds**."
          },
          "token_address": {
            "type": "string",
            "description": "Non-SOL side of the pool (the token being bought/sold)."
          },
          "pair_address": {
            "type": "string",
            "description": "On-chain pool/LP account."
          },
          "user": {
            "type": "string",
            "description": "Trader wallet."
          },
          "is_buy": {
            "type": "boolean",
            "description": "`true` if SOL → token; `false` if token → SOL."
          },
          "dex": {
            "$ref": "#/components/schemas/DexId"
          },
          "sol_amount": {
            "type": "integer",
            "format": "int64",
            "description": "Lamports (1 SOL = 1e9)."
          },
          "token_amount": {
            "type": "integer",
            "format": "int64",
            "description": "Token base units; divide by 10**`quote_decimals` for human-readable."
          },
          "fee": {
            "type": "integer",
            "format": "int64",
            "description": "LP fee paid, in lamports."
          },
          "fee_bps": {
            "type": "integer",
            "description": "Effective LP fee, in basis points."
          },
          "creator_fee": {
            "type": "integer",
            "format": "int64",
            "description": "Creator-set fee paid, in lamports (pump.fun + meteora-dbc)."
          },
          "creator_fee_bps": {
            "type": "integer"
          },
          "price_per_token": {
            "type": "number",
            "description": "Realized fill price (SOL per 1 token, decimals-adjusted)."
          },
          "pool_price": {
            "type": "number",
            "description": "Pool mid-price after the swap."
          },
          "price_impact_bps": {
            "type": "integer",
            "description": "Difference between fill price and pre-swap mid, in basis points."
          },
          "base_decimals": {
            "type": "integer",
            "description": "Decimals of the *base* (SOL) side — typically 9."
          },
          "quote_decimals": {
            "type": "integer",
            "description": "Decimals of the *quote* (token) side."
          },
          "virtual_sol_reserves": {
            "type": "integer",
            "format": "int64",
            "description": "Virtual SOL reserves (pump.fun bonding curve). 0 on non-pump pools."
          },
          "virtual_token_reserves": {
            "type": "integer",
            "format": "int64"
          },
          "real_sol_reserves": {
            "type": "integer",
            "format": "int64",
            "description": "Actual reserves on the pool after the swap."
          },
          "real_token_reserves": {
            "type": "integer",
            "format": "int64"
          },
          "transfer_fee_in": {
            "type": "integer",
            "format": "int64",
            "description": "Token-2022 transfer-fee paid on the input side (lamports/base units)."
          },
          "transfer_fee_out": {
            "type": "integer",
            "format": "int64"
          },
          "cashback": {
            "type": "integer",
            "format": "int64",
            "description": "Cashback rebated to the trader (lamports)."
          },
          "cashback_bps": {
            "type": "integer"
          }
        }
      },
      "SwapsPage": {
        "type": "object",
        "description": "Paged list of swaps, shared by `/swaps`, `/swaps/range`, `/swaps/whale`.",
        "properties": {
          "swaps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Swap"
            }
          },
          "total": {
            "type": "integer",
            "description": "Count of swaps in this page."
          },
          "has_more": {
            "type": "boolean",
            "description": "True if more rows match — increment `offset` to page."
          }
        }
      },
      "Protocol": {
        "type": "string",
        "description": "Canonical lowercase snake_case DEX name.",
        "enum": [
          "pumpfun",
          "pumpswap",
          "raydium_amm",
          "raydium_clmm",
          "raydium_cpmm",
          "orca",
          "meteora_damm_v2",
          "meteora_dbc",
          "meteora_dlmm",
          "meteora_pools"
        ]
      },
      "GlobalStats": {
        "type": "object",
        "description": "Lifetime totals across the entire index (not a 24h window).",
        "properties": {
          "total_swaps": {
            "type": "integer",
            "format": "int64"
          },
          "total_volume_sol": {
            "type": "number",
            "description": "Cumulative SOL volume."
          },
          "unique_traders": {
            "type": "integer",
            "format": "int64"
          },
          "unique_tokens": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "TraderStats": {
        "type": "object",
        "description": "Lifetime stats for a wallet across all pools and DEXs.",
        "properties": {
          "total_swaps": {
            "type": "integer"
          },
          "total_buys": {
            "type": "integer"
          },
          "total_sells": {
            "type": "integer"
          },
          "total_sol_volume": {
            "type": "number",
            "description": "Cumulative SOL volume routed by this wallet."
          },
          "unique_tokens": {
            "type": "integer",
            "description": "Number of distinct token mints this wallet has traded."
          }
        }
      },
      "TokenStats": {
        "type": "object",
        "description": "Lifetime stats for a token mint across every indexed pool.",
        "properties": {
          "total_swaps": {
            "type": "integer"
          },
          "total_buys": {
            "type": "integer"
          },
          "total_sells": {
            "type": "integer"
          },
          "total_sol_volume": {
            "type": "number"
          },
          "unique_traders": {
            "type": "integer"
          },
          "buy_sell_ratio": {
            "type": "number",
            "description": "`total_buys / total_sells`."
          }
        }
      },
      "TopMover": {
        "type": "object",
        "description": "One pool in a top-movers response. The `gainers` and `losers` arrays each contain these.",
        "properties": {
          "mint": {
            "type": "string",
            "description": "Token mint (non-SOL side of the pool)."
          },
          "protocols": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "DEXes the token trades on."
          },
          "price_change_pct": {
            "type": "number",
            "description": "Percent change in price over `timeframe`."
          },
          "open_price": {
            "type": "number",
            "description": "Price (SOL) at the start of `timeframe`."
          },
          "close_price": {
            "type": "number",
            "description": "Most recent price (SOL)."
          },
          "high": {
            "type": "number"
          },
          "low": {
            "type": "number"
          },
          "volume_sol": {
            "type": "number",
            "description": "SOL volume over `timeframe`. **Lamports** despite the name — divide by 1e9."
          },
          "trade_count": {
            "type": "integer"
          }
        }
      },
      "TrendingResult": {
        "type": "object",
        "description": "One token in a /trending response. Volume and liquidity are in USD via the Pyth SOL/USD oracle.",
        "properties": {
          "mint": {
            "type": "string"
          },
          "change_pct": {
            "type": [
              "number",
              "null"
            ],
            "description": "Price change percent over the trending `window`. `null` when the window contains only one swap or the start price was zero."
          },
          "liquidity_usd": {
            "type": [
              "number",
              "null"
            ]
          },
          "price_usd": {
            "type": "number"
          },
          "volume_usd": {
            "type": "number"
          },
          "trending_score": {
            "type": "number",
            "description": "Composite score (only present when `include_score=true`). Higher = more momentum."
          },
          "formula_breakdown": {
            "type": "object",
            "description": "Per-component contribution to `trending_score`. Only present when `include_score=true`. All components sum to `trending_score`.",
            "properties": {
              "vol_velocity": {
                "type": "number",
                "description": "`ln(volume_sol) * 1.5` — log-scaled raw volume."
              },
              "unique_buyers": {
                "type": "number",
                "description": "`sqrt(unique_buyers) * 1.2` — keeps small coins competitive."
              },
              "vol_acceleration": {
                "type": "number",
                "description": "`ln(vol_now / vol_prior) * 4`, clamped to `[-8, 12]`. Brand-new mints with no prior-window activity get a fixed `+4` boost so first-window tokens can surface. This is the dominant momentum term."
              },
              "buyer_acceleration": {
                "type": "number",
                "description": "`((buyers_now - buyers_prior) / max(buyers_prior, 1)) * 2`, clamped to `[-2, 6]`. Percent-change in unique buyers vs the prior window."
              },
              "dev_sell_penalty": {
                "type": "number",
                "description": "Negative. `-min(dev_sell_sol * 0.5, 20)` — capped subtraction per SOL sold by the token's creator."
              },
              "holder_growth": {
                "type": [
                  "number",
                  "null"
                ],
                "description": "Reserved for future use. Always `null` today."
              },
              "top10_penalty": {
                "type": [
                  "number",
                  "null"
                ],
                "description": "Reserved for future use. Always `null` today."
              }
            }
          },
          "change_pct_by_window": {
            "type": "object",
            "description": "Populated only when `extra_windows=...` was set on the request. Keys are the window strings you asked for (e.g. `\"5m\"`, `\"24h\"`); values are the price change percent for that window, or `null` if no price reference at window start.",
            "additionalProperties": {
              "type": [
                "number",
                "null"
              ]
            }
          }
        }
      },
      "PoolEvent": {
        "type": "object",
        "description": "Liquidity-pool event other than a swap — LP deposit, LP withdraw, token burn, or a server-classified rug. The real-time push of these same events is the `pool_event` frame on the [`/ws/swaps`](/streaming/websocket) WebSocket: a large `lp_withdraw` is the live LP-removal signal, and `rug_detected` is its classified version (`RUGGED` / `LIQUIDITY_DRAINING`).",
        "properties": {
          "signature": {
            "type": "string"
          },
          "slot": {
            "type": "integer"
          },
          "timestamp": {
            "type": "integer",
            "description": "Unix epoch milliseconds."
          },
          "event_type": {
            "type": "string",
            "enum": [
              "lp_deposit",
              "lp_withdraw",
              "token_burn",
              "rug_detected"
            ]
          },
          "dex": {
            "type": "string"
          },
          "pool_address": {
            "type": "string"
          },
          "token_mint": {
            "type": "string"
          },
          "actor": {
            "type": "string",
            "description": "Wallet that emitted the event."
          },
          "base_amount": {
            "type": "integer",
            "format": "int64",
            "description": "Token base units."
          },
          "quote_amount": {
            "type": "integer",
            "format": "int64",
            "description": "Lamports for SOL-quoted pools."
          },
          "lp_token_amount": {
            "type": "integer",
            "format": "int64",
            "description": "DAMM v2 saturates this to u64::MAX — prefer `base_amount` + `quote_amount` for math."
          },
          "drained_pct": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 1,
            "description": "Fraction of pool liquidity removed by this event, 0..1. Constant-product pools use the LP-supply ratio; Meteora CL uses the SOL-reserve ratio. `0.0` when not computable."
          },
          "classification": {
            "type": "string",
            "description": "Set only on `rug_detected` events: `RUGGED` when >95% of liquidity was removed, `LIQUIDITY_DRAINING` when 50–95%. Empty otherwise."
          },
          "pool_base_reserve_after": {
            "type": "integer",
            "format": "int64",
            "description": "Post-event pool reserve, base side (atomic). `0` when N/A."
          },
          "pool_quote_reserve_after": {
            "type": "integer",
            "format": "int64",
            "description": "Post-event pool reserve, quote side (lamports for SOL-quoted pools). `0` when N/A."
          },
          "lp_supply_after": {
            "type": "integer",
            "format": "int64",
            "description": "Post-event total LP supply. Constant-product only — `0` for Meteora."
          }
        }
      },
      "TokenAudit": {
        "type": "object",
        "description": "On-chain authority and LP-burn checks for a token, served by a dedicated service (CT106) at the **root** path `/tokens/{mint}/audit` (not under `/api/v1`).\n\nA valid base58 mint that has not been indexed yet still returns **HTTP 200** with `indexed: false` and every flag/value `null` (the unindexed sentinel) — it does not 404. A malformed (non-base58) mint returns **HTTP 400**.",
        "required": [
          "mint",
          "indexed"
        ],
        "properties": {
          "mint": {
            "type": "string"
          },
          "indexed": {
            "type": "boolean",
            "description": "`false` when the mint is valid but not yet indexed — in that case `mint_revoked`, `freeze_revoked`, `lp_burnt`, and `computed_at` are all `null` and `top10_pct.status` is `no_holder_data`. `true` once audit data has been computed."
          },
          "lp_burnt": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "True if the dominant LP token is burnt/locked. `null` when not indexed/computed. This is the boolean roll-up; see `lock` for the structured signal."
          },
          "lock": {
            "type": [
              "object",
              "null"
            ],
            "description": "Structured LP-lock signal. `null` when there is no structured signal yet (same meaning as a `null` `lp_burnt`). When present it distinguishes *how* the LP is secured and how confident we are.",
            "properties": {
              "secured_pct": {
                "type": [
                  "number",
                  "null"
                ],
                "description": "Fraction of LP secured, `0..1`. Precise when measured by the polling detector; `null` when only the real-time firehose event path observed the lock (a binary on-chain burn/lock event — exact share not measured). Never fabricated."
              },
              "mechanism": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "burned",
                  "locked",
                  "partial",
                  "unsecured",
                  null
                ],
                "description": "`burned` = LP sent to the incinerator (irreversible). `locked` = LP/position held by a locker program (Streamflow / Jupiter Lock / Raydium Burn&Earn / UNCX). `partial` / `unsecured` are graded readings from the detector. Bonding-curve venues (PumpFun, Meteora DBC) have no fungible LP to burn, so `lock` stays `null` there."
              },
              "verified": {
                "type": [
                  "boolean",
                  "null"
                ],
                "description": "`true` for direct on-chain observations (firehose LP burn/lock events; Raydium AMM/CPMM verified layouts). `false` for asserted layouts (Meteora DAMM v2, Raydium CLMM position scans)."
              }
            }
          },
          "mint_revoked": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "`null` when not indexed/computed."
          },
          "freeze_revoked": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "`null` when not indexed/computed."
          },
          "top10_pct": {
            "$ref": "#/components/schemas/Top10Pct"
          },
          "computed_at": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Unix epoch seconds. `null` when not indexed/computed."
          }
        }
      },
      "TokenMetadata": {
        "type": "object",
        "description": "Token metadata as indexed from on-chain + the Metaplex URI. Audit flags are inlined.",
        "properties": {
          "mint": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "decimals": {
            "type": "integer"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "image_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "image_url_cached": {
            "type": [
              "string",
              "null"
            ],
            "description": "Dexploit-hosted mirror; safe to embed without CORS pain."
          },
          "metadata_uri": {
            "type": [
              "string",
              "null"
            ]
          },
          "twitter": {
            "type": [
              "string",
              "null"
            ]
          },
          "telegram": {
            "type": [
              "string",
              "null"
            ]
          },
          "website": {
            "type": [
              "string",
              "null"
            ]
          },
          "creator": {
            "type": "string"
          },
          "supply_atomic": {
            "type": "integer",
            "format": "int64",
            "description": "Base-unit supply; divide by 10**decimals for human-readable."
          },
          "mint_authority": {
            "type": [
              "string",
              "null"
            ]
          },
          "freeze_authority": {
            "type": [
              "string",
              "null"
            ]
          },
          "update_authority": {
            "type": [
              "string",
              "null"
            ]
          },
          "sectors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "audit": {
            "$ref": "#/components/schemas/TokenAudit"
          },
          "created_at": {
            "type": "integer",
            "description": "Unix epoch seconds."
          },
          "updated_at": {
            "type": "integer",
            "description": "Unix epoch seconds."
          }
        }
      },
      "TokenIntelEntry": {
        "type": "object",
        "description": "One entry in the `snipers`, `insiders`, `top_70`, or `dev` arrays.",
        "properties": {
          "wallet": {
            "type": "string"
          },
          "balance": {
            "type": "number",
            "description": "Current token balance (decimals-adjusted)."
          },
          "pct": {
            "type": "number",
            "description": "Percent of circulating supply held."
          },
          "sol_spent": {
            "type": "number"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "TokenIntel": {
        "type": "object",
        "description": "Aggregated intelligence for one token mint: actor aggregates, holders, price/volume trend, dev concentration, and an embedded Risk Score summary. Cached server-side ~60s.\n\nFull per-actor lists live at dedicated endpoints (e.g. `/tokens/{mint}/snipers`); the `actors` object here carries counts + concentration percentages with `fetch_url` deep-links.",
        "properties": {
          "mint": {
            "type": "string"
          },
          "computed_at": {
            "type": "integer",
            "description": "Unix epoch milliseconds."
          },
          "holders_count": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Distinct wallets currently holding non-zero balance."
          },
          "creator_held_pct": {
            "type": [
              "number",
              "null"
            ],
            "description": "Percent of supply still held by the creator wallet (0–100)."
          },
          "bonding_pct": {
            "type": [
              "number",
              "null"
            ],
            "description": "Pump.fun bonding-curve progress (0–100); null for graduated/non-pump tokens."
          },
          "top10_pct": {
            "$ref": "#/components/schemas/Top10Pct"
          },
          "actors": {
            "$ref": "#/components/schemas/ActorAggregates"
          },
          "dev": {
            "type": [
              "object",
              "null"
            ],
            "description": "Creator wallet, source provenance, and recent launches. `null` when the creator is unknown (Phase 0 strict precedence — never falls back to largest holder)."
          },
          "change_pct": {
            "type": "object",
            "description": "Price change percent across canonical windows.",
            "properties": {
              "5m": {
                "type": "number"
              },
              "1h": {
                "type": "number"
              },
              "6h": {
                "type": "number"
              },
              "24h": {
                "type": "number"
              }
            }
          },
          "liquidity_usd": {
            "type": [
              "number",
              "null"
            ]
          },
          "volume_24h_usd": {
            "type": [
              "number",
              "null"
            ]
          },
          "volume_pct_change_24h": {
            "type": [
              "number",
              "null"
            ]
          },
          "dev_held_lp_pct": {
            "type": [
              "number",
              "null"
            ],
            "description": "Percent of LP tokens still held by the creator (when LP is not burnt)."
          },
          "risk": {
            "$ref": "#/components/schemas/RiskSummary"
          }
        }
      },
      "Top10Pct": {
        "type": "object",
        "description": "Top 10 holders' share of supply, with explicit status. Always present (even when the value isn't computable yet).",
        "properties": {
          "value": {
            "type": [
              "number",
              "null"
            ],
            "description": "Top-10 (pool-excluded) sum divided by total supply. `null` when `status` is not `ready`."
          },
          "status": {
            "type": "string",
            "description": "Snake-case status of the top-10 computation. `value`/`computed_at` are non-null only when `ready`.",
            "enum": [
              "ready",
              "no_holder_data",
              "no_pool_data",
              "computing"
            ]
          },
          "computed_at": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Unix epoch milliseconds. `null` unless `status` is `ready`."
          }
        }
      },
      "ActorAggregates": {
        "type": "object",
        "description": "Per-tag count + concentration of wallets currently holding the mint. Keys are tag names (`sniper`, `insider`, `smart_money`, `whale`, `kol`, `fresh`, `dev`, `bot`) — only tags with at least one matching holder appear. Use `fetch_url` to deep-link to the full list endpoint.",
        "additionalProperties": {
          "$ref": "#/components/schemas/ActorAggregate"
        }
      },
      "ActorAggregate": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "pct_of_circulating": {
            "type": "number",
            "description": "Sum of these wallets' balances divided by total supply (0.0–1.0)."
          },
          "fetch_url": {
            "type": "string",
            "description": "Path to the full list endpoint. Present only for actor types that have a dedicated endpoint (sniper, insider, smart_money, whale)."
          }
        }
      },
      "RiskSummary": {
        "type": "object",
        "description": "Slim Risk Score summary embedded in `/intel`. Full per-signal breakdown at `/tokens/{mint}/risk`.",
        "properties": {
          "score": {
            "type": [
              "number",
              "null"
            ],
            "description": "0.0–10.0; null when no input data is available yet."
          },
          "level": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "safe",
              "caution",
              "warning",
              "danger",
              null
            ]
          },
          "signals_summary": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Up to 5 codes of the highest-weighted signals that fired."
          },
          "fetch_url": {
            "type": "string"
          }
        }
      },
      "HoldersResponse": {
        "type": "object",
        "properties": {
          "mint": {
            "type": "string"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HolderRow"
            }
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Opaque base64 cursor. Pass back as `?cursor=...`; `null` means end-of-results."
          },
          "computed_at": {
            "type": "integer"
          }
        }
      },
      "HolderRow": {
        "type": "object",
        "properties": {
          "wallet": {
            "type": "string"
          },
          "balance_atomic": {
            "type": "string",
            "description": "u64 as decimal string for JSON safety."
          },
          "balance_ui": {
            "type": "number",
            "description": "balance_atomic / 10^decimals."
          },
          "pct_of_circulating": {
            "type": "number",
            "description": "0.0–1.0."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Empty unless `?enrich=identity` is requested."
          },
          "rank": {
            "type": "integer",
            "description": "1-based position in this page (resumed across pages by cursor)."
          }
        }
      },
      "ActorsResponse": {
        "type": "object",
        "properties": {
          "mint": {
            "type": "string"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HolderRow"
            }
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ]
          },
          "computed_at": {
            "type": "integer"
          }
        }
      },
      "RiskResponse": {
        "type": "object",
        "description": "Glass-box token risk: a 0–10 score plus the per-signal breakdown that produced it. See [Risk Score algorithm](/concepts/risk-score) for the full signal taxonomy.",
        "properties": {
          "mint": {
            "type": "string"
          },
          "score": {
            "type": [
              "number",
              "null"
            ],
            "description": "0.0–10.0; `null` when status is `no_data`."
          },
          "level": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "safe",
              "caution",
              "warning",
              "danger",
              null
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "ready",
              "partial_data",
              "no_data"
            ]
          },
          "signals": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RiskSignal"
            },
            "description": "Only signals that triggered are included. To re-compute the score: `min(10, sum(signal.contribution) * 10 / 5000)`."
          },
          "raw_score": {
            "type": "integer"
          },
          "max_raw": {
            "type": "integer",
            "description": "53500 — the sum of every signal's weight."
          },
          "computed_at": {
            "type": "integer"
          },
          "missing_signals": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Codes of signals whose input data wasn't available yet (mint not fully onboarded)."
          }
        }
      },
      "RiskSignal": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Stable identifier — see /concepts/risk-score."
          },
          "weight": {
            "type": "integer"
          },
          "value": {
            "description": "Concrete measurement; shape varies per signal."
          },
          "triggered": {
            "type": "boolean"
          },
          "contribution": {
            "type": "integer",
            "description": "weight × graded_strength; equals `weight` for boolean signals, scaled for graded ones."
          },
          "label": {
            "type": "string",
            "description": "Human-readable description of what this signal observed."
          }
        }
      },
      "WalletTags": {
        "type": "object",
        "properties": {
          "wallet": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "sniper",
                "insider",
                "dev",
                "whale",
                "smart_money",
                "fresh",
                "kol"
              ]
            }
          },
          "computed_at": {
            "type": "integer",
            "description": "Unix epoch seconds; 0 if never computed."
          }
        }
      },
      "TokenRow": {
        "type": "object",
        "properties": {
          "mint": {
            "type": "string"
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "symbol": {
            "type": [
              "string",
              "null"
            ]
          },
          "decimals": {
            "type": "integer"
          },
          "supply_atomic": {
            "type": "string",
            "description": "u64 as decimal string for JSON safety."
          },
          "creator": {
            "type": [
              "string",
              "null"
            ],
            "description": "Phase 0 strict precedence — null when unknown."
          },
          "creator_source": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "pumpfun_event",
              "shyft_graphql",
              "lp_create_signer",
              "metaplex_update_authority",
              "first_swap_trader",
              null
            ]
          },
          "image_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "twitter": {
            "type": [
              "string",
              "null"
            ]
          },
          "telegram": {
            "type": [
              "string",
              "null"
            ]
          },
          "website": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "integer",
            "description": "Unix epoch seconds."
          }
        }
      },
      "TokenListResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TokenRow"
            }
          },
          "computed_at": {
            "type": "integer"
          }
        }
      },
      "GraduatingEntry": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TokenRow"
          },
          {
            "type": "object",
            "properties": {
              "bonding_pct": {
                "type": "number",
                "description": "0.0–100.0; pumpfun real_sol_reserves / 85 SOL × 100."
              }
            }
          }
        ]
      },
      "GraduatingListResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GraduatingEntry"
            }
          },
          "computed_at": {
            "type": "integer"
          }
        }
      },
      "GraduatedEntry": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TokenRow"
          },
          {
            "type": "object",
            "properties": {
              "graduated_at": {
                "type": "integer",
                "description": "Unix epoch seconds of the graduated lifecycle event."
              }
            }
          }
        ]
      },
      "GraduatedListResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GraduatedEntry"
            }
          },
          "computed_at": {
            "type": "integer"
          }
        }
      },
      "TokensBatchResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/TokenRow",
              "nullable": true
            },
            "description": "Keyed by mint. Value is null when the mint is not in the tokens table."
          },
          "computed_at": {
            "type": "integer"
          }
        }
      },
      "PriceEntry": {
        "type": "object",
        "properties": {
          "price_usd": {
            "type": "number"
          },
          "price_sol": {
            "type": "number"
          },
          "ts_ms": {
            "type": "integer",
            "description": "Unix epoch ms of the source candle."
          }
        }
      },
      "PriceMultiResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/PriceEntry",
              "nullable": true
            },
            "description": "Keyed by mint. Null when the mint has no recent (last-hour) candle."
          },
          "computed_at": {
            "type": "integer"
          }
        }
      },
      "CreditsResponse": {
        "type": "object",
        "description": "RPS-tier usage snapshot for the authenticated API key.",
        "properties": {
          "tier": {
            "type": "string",
            "enum": [
              "free",
              "developer",
              "pro",
              "enterprise"
            ]
          },
          "rps_cap": {
            "type": "integer",
            "description": "Burst cap = `rps_cap × rps_window_secs` per window."
          },
          "rps_window_secs": {
            "type": "integer",
            "example": 60
          },
          "current_window_used": {
            "type": "integer"
          },
          "current_window_remaining": {
            "type": "integer"
          },
          "current_window_reset_secs": {
            "type": "integer"
          },
          "monthly_used": {
            "type": "integer",
            "description": "Cumulative request count this calendar month. Informational only — no cap."
          },
          "monthly_used_note": {
            "type": "string",
            "example": "informational; no monthly cap on Dexploit"
          },
          "tier_features": {
            "type": "object",
            "properties": {
              "smart_money_access": {
                "type": "boolean"
              },
              "whales_access": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "SubscriptionInfo": {
        "type": "object",
        "description": "Subscription status mirroring `/api/v1/billing/subscription`. JWT-authenticated.",
        "properties": {
          "subscription_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string",
            "example": "active"
          },
          "tier": {
            "type": "string",
            "enum": [
              "free",
              "developer",
              "pro",
              "enterprise"
            ]
          },
          "current_period_end": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Unix epoch seconds."
          },
          "cancel_at_period_end": {
            "type": "boolean"
          }
        }
      },
      "WalletTagCounts": {
        "type": "object",
        "description": "Per-tag count of wallets currently holding a given token. Useful for surfacing 'sniper-heavy' or 'whale-heavy' tokens.",
        "properties": {
          "mint": {
            "type": "string"
          },
          "counts": {
            "type": "object",
            "properties": {
              "sniper": {
                "type": "integer"
              },
              "insider": {
                "type": "integer"
              },
              "dev": {
                "type": "integer"
              },
              "whale": {
                "type": "integer"
              },
              "smart_money": {
                "type": "integer"
              },
              "fresh": {
                "type": "integer"
              },
              "kol": {
                "type": "integer"
              }
            }
          }
        }
      },
      "PumpLifecycleEvent": {
        "type": "object",
        "description": "A point in a pump.fun token's lifecycle: mint, bonding-curve progress, or migration to pumpswap.",
        "properties": {
          "mint": {
            "type": "string"
          },
          "event_type": {
            "type": "string",
            "enum": [
              "mint_created",
              "bonding_progress",
              "graduated"
            ],
            "description": "`graduated` fires once the bonding curve completes and the token migrates to a tradeable AMM pool."
          },
          "ts": {
            "type": "integer",
            "description": "Unix epoch seconds."
          },
          "creator": {
            "type": [
              "string",
              "null"
            ]
          },
          "bonding_pct": {
            "type": "number",
            "description": "0.0 at mint → 1.0 at graduation."
          },
          "dex": {
            "type": [
              "string",
              "null"
            ],
            "description": "Destination DEX (set on `graduated`)."
          },
          "new_pool": {
            "type": [
              "string",
              "null"
            ],
            "description": "Migration target pool (set on `graduated`)."
          },
          "raw_tx_sig": {
            "type": "string"
          }
        }
      },
      "AthResponse": {
        "type": "object",
        "description": "Per-mint all-time high. All ATH fields are nullable — they're null when the mint has no daily candles in `ohlcv_1d` yet.",
        "properties": {
          "mint": {
            "type": "string"
          },
          "ath_price_sol": {
            "type": [
              "number",
              "null"
            ],
            "description": "ATH close (SOL per token, decimals-adjusted)."
          },
          "ath_price_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "`ath_price_sol × current Pyth SOL/USD`. Today-equivalent USD value, not the USD price at the moment of the ATH."
          },
          "ath_ts_ms": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Unix epoch milliseconds when the ATH occurred."
          },
          "ath_pair_address": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pair where the ATH candle was observed."
          },
          "computed_at": {
            "type": "integer",
            "format": "int64",
            "description": "Unix epoch milliseconds."
          }
        }
      },
      "DeployerResponse": {
        "type": "object",
        "description": "Tokens deployed by a wallet. `coverage_note` is only present when `results` is empty.",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TokenRow"
            },
            "description": "Newest mint first. Same shape as `/tokens/multi`."
          },
          "coverage_note": {
            "type": [
              "string",
              "null"
            ],
            "description": "Set when results is empty. Explains that creator capture began 2026-05-26 (Phase 0)."
          },
          "computed_at": {
            "type": "integer",
            "format": "int64",
            "description": "Unix epoch milliseconds."
          }
        }
      },
      "PriceHistoryPoint": {
        "type": "object",
        "description": "Single OHLCV row. `volume_sol` is **lamports** (divide by 1e9 for SOL).",
        "properties": {
          "ts_ms": {
            "type": "integer",
            "format": "int64",
            "description": "Bar start, Unix epoch milliseconds."
          },
          "open": {
            "type": "number"
          },
          "high": {
            "type": "number"
          },
          "low": {
            "type": "number"
          },
          "close": {
            "type": "number"
          },
          "volume_sol": {
            "type": "integer",
            "format": "int64",
            "description": "**Lamports**, despite the name. Divide by 1e9 for SOL."
          }
        }
      },
      "PriceHistorySeries": {
        "type": "object",
        "description": "Candle series for a token's top-volume pair.",
        "properties": {
          "pair_address": {
            "type": "string",
            "description": "The pair the series was sourced from."
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PriceHistoryPoint"
            }
          },
          "computed_at": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "PriceHistoryRange": {
        "type": "object",
        "description": "Single aggregated OHLCV row over `[from_ts, to_ts]`.",
        "properties": {
          "from_ts": {
            "type": "integer",
            "format": "int64"
          },
          "to_ts": {
            "type": "integer",
            "format": "int64"
          },
          "open": {
            "type": "number"
          },
          "high": {
            "type": "number"
          },
          "low": {
            "type": "number"
          },
          "close": {
            "type": "number"
          },
          "volume_sol": {
            "type": "integer",
            "format": "int64",
            "description": "Sum of candle `volume_sol` (lamports). Divide by 1e9 for SOL."
          },
          "sample_count": {
            "type": "integer",
            "description": "Number of source candles aggregated."
          }
        }
      },
      "ChartResponse": {
        "type": "object",
        "description": "Chart-ready candle series with optional per-row market cap.",
        "properties": {
          "pair_address": {
            "type": "string"
          },
          "results": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/PriceHistoryPoint"
                },
                {
                  "type": "object",
                  "properties": {
                    "market_cap_sol": {
                      "type": [
                        "number",
                        "null"
                      ],
                      "description": "`close × supply_atomic / 10^decimals`. Null when `marketCap=false` (default)."
                    }
                  }
                }
              ]
            }
          },
          "computed_at": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "BundlersStubResponse": {
        "type": "object",
        "description": "Phase 2 stub. Real bundler detection ships in Phase 5; this endpoint currently always returns `count: 0` and `status: \"tagger_pending\"`.",
        "properties": {
          "mint": {
            "type": "string"
          },
          "count": {
            "type": "integer",
            "enum": [
              0
            ],
            "description": "Always 0 until Phase 5 ships."
          },
          "status": {
            "type": "string",
            "enum": [
              "tagger_pending"
            ]
          },
          "available_in": {
            "type": "string",
            "enum": [
              "phase_5"
            ]
          },
          "computed_at": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "ActorChartSinglePoint": {
        "type": "object",
        "description": "One point in a single-series actor chart. `value` is an integer count for holders/snipers/insiders/bundlers.",
        "required": [
          "ts_ms",
          "value"
        ],
        "properties": {
          "ts_ms": {
            "type": "integer",
            "format": "int64",
            "description": "Bucket timestamp, Unix epoch milliseconds."
          },
          "value": {
            "type": "number",
            "description": "Point-in-time count for the requested series."
          }
        }
      },
      "ActorChartSingleResponse": {
        "type": "object",
        "description": "Response for a single-series actor chart endpoint (`/holders/chart/{token}`, `/snipers/chart/{token}`, `/insiders/chart/{token}`, `/bundlers/chart/{token}`). Rows exist only for hours the mint traded — gaps are expected, not bugs. Forward-fill the last value for quiet hours. An empty `results` array carries a `coverage_note` explaining the no-backfill policy.",
        "required": [
          "results",
          "computed_at"
        ],
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ActorChartSinglePoint"
            }
          },
          "computed_at": {
            "type": "integer",
            "format": "int64",
            "description": "Unix ms when this response was assembled."
          },
          "coverage_note": {
            "type": "string",
            "description": "Present on empty results (no-backfill policy) or for the bundlers endpoint (Phase 5 placeholder)."
          }
        }
      },
      "ActorChartCombinedPoint": {
        "type": "object",
        "description": "One wide row from the combined actor-chart endpoint. Keys present depend on the `?series=` subset requested. `dev_held_pct` is a 0.0–1.0 fraction.",
        "required": [
          "ts_ms"
        ],
        "properties": {
          "ts_ms": {
            "type": "integer",
            "format": "int64",
            "description": "Bucket timestamp, Unix epoch milliseconds."
          },
          "holders": {
            "type": "integer",
            "format": "int64",
            "description": "Distinct holder count at this timestamp. Present when `holders` is in the requested series."
          },
          "snipers": {
            "type": "integer",
            "format": "int32",
            "description": "Sniper wallet count. Present when `snipers` is in the requested series."
          },
          "insiders": {
            "type": "integer",
            "format": "int32",
            "description": "Insider wallet count. Present when `insiders` is in the requested series."
          },
          "dev_held_pct": {
            "type": "number",
            "format": "float",
            "description": "Developer's share of supply (0.0–1.0 fraction). Present when `dev` is in the requested series."
          }
        }
      },
      "ActorChartCombinedResponse": {
        "type": "object",
        "description": "Response for the combined actor-chart endpoint (`/tokens/{mint}/actor-chart`). Wide rows — one object per timestamp with all requested series as keys. One call replaces up to four single-series requests.",
        "required": [
          "results",
          "computed_at"
        ],
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ActorChartCombinedPoint"
            }
          },
          "computed_at": {
            "type": "integer",
            "format": "int64",
            "description": "Unix ms when this response was assembled."
          },
          "coverage_note": {
            "type": "string",
            "description": "Present on empty results — no pre-launch backfill; charts grow forward from Phase 3 launch (2026-05-28)."
          }
        }
      },
      "Holding": {
        "type": "object",
        "description": "One token position in a wallet holdings response. `cost_basis_sol`, `unrealized_pnl_sol`, and `current_value_usd` are `null` when not computable (see `no_cost_basis` and `price_stale`).",
        "required": [
          "mint",
          "qty",
          "no_cost_basis",
          "price_stale"
        ],
        "properties": {
          "mint": {
            "type": "string",
            "description": "Token mint address (base58)."
          },
          "qty": {
            "type": "integer",
            "format": "int64",
            "description": "Current quantity in token base units."
          },
          "cost_basis_sol": {
            "type": [
              "number",
              "null"
            ],
            "description": "FIFO average cost in SOL, scaled to the current on-chain qty. `null` when no swap history is available for this mint."
          },
          "no_cost_basis": {
            "type": "boolean",
            "description": "`true` when the mint has no swap history in Dexploit's index (airdrop, off-platform transfer, etc.)."
          },
          "current_value_sol": {
            "type": [
              "number",
              "null"
            ],
            "description": "Current market value in SOL (latest candle price × qty). `null` when price is unavailable."
          },
          "current_value_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "Current market value in USD via the Pyth SOL/USD oracle. `null` when price or oracle is unavailable."
          },
          "unrealized_pnl_sol": {
            "type": [
              "number",
              "null"
            ],
            "description": "`current_value_sol − cost_basis_sol`. `null` when either value is unavailable."
          },
          "price_stale": {
            "type": "boolean",
            "description": "`true` when no recent candle price was found for this mint (no trade in the last hour)."
          }
        }
      },
      "HoldingsResponse": {
        "type": "object",
        "description": "Response from `/wallets/{w}/holdings`. `holdings_source` indicates whether the token list came from Shyft (authoritative) or fell back to FIFO-derived data.",
        "required": [
          "wallet",
          "holdings_source",
          "holdings",
          "computed_at"
        ],
        "properties": {
          "wallet": {
            "type": "string"
          },
          "holdings_source": {
            "type": "string",
            "enum": [
              "shyft",
              "fifo_fallback"
            ],
            "description": "`shyft` = authoritative on-chain balances. `fifo_fallback` = Shyft was temporarily unavailable; list is derived from Dexploit's swap index only."
          },
          "holdings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Holding"
            }
          },
          "computed_at": {
            "type": "integer",
            "format": "int64",
            "description": "Unix epoch milliseconds when this response was assembled."
          }
        }
      },
      "HoldingsBasicResponse": {
        "type": "object",
        "description": "Response from `/wallets/{w}/holdings/basic`. FIFO-derived holdings from Dexploit's own swap index — no Shyft call, no USD values. Fast (~30 ms). Only covers tokens traded through indexed DEXes.",
        "required": [
          "wallet",
          "holdings"
        ],
        "properties": {
          "wallet": {
            "type": "string"
          },
          "holdings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Holding"
            }
          }
        }
      },
      "Trade": {
        "type": "object",
        "description": "One trade in a wallet's history. `pnl_delta_sol` is the FIFO realized gain/loss on sells; `null` on buys.",
        "required": [
          "signature",
          "timestamp",
          "mint",
          "is_buy",
          "sol_amount",
          "token_amount",
          "dex"
        ],
        "properties": {
          "signature": {
            "type": "string",
            "description": "Solana transaction signature."
          },
          "timestamp": {
            "type": "integer",
            "format": "int64",
            "description": "Unix epoch milliseconds."
          },
          "mint": {
            "type": "string",
            "description": "Token mint address."
          },
          "is_buy": {
            "type": "boolean",
            "description": "`true` if SOL → token; `false` if token → SOL."
          },
          "sol_amount": {
            "type": "number",
            "description": "SOL value of the swap (already divided by 1e9 from lamports)."
          },
          "token_amount": {
            "type": "integer",
            "format": "int64",
            "description": "Token base units."
          },
          "dex": {
            "$ref": "#/components/schemas/DexId"
          },
          "pnl_delta_sol": {
            "type": [
              "number",
              "null"
            ],
            "description": "FIFO realized PnL in SOL on this sell (`proceeds − matched_cost`). Always `null` on buys."
          }
        }
      },
      "TradesResponse": {
        "type": "object",
        "description": "Cursor-paginated trade history for a wallet, newest first.",
        "required": [
          "wallet",
          "trades"
        ],
        "properties": {
          "wallet": {
            "type": "string"
          },
          "trades": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Trade"
            }
          },
          "next_before": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Pass as `?before=` on the next request to get the next page. `null` when there are no more trades."
          },
          "coverage_note": {
            "type": "string",
            "description": "Always present in Phase 4. Explains that `hide_arb` and `parse_jupiter` are no-ops until Phase 5."
          }
        }
      },
      "PortfolioChartPoint": {
        "type": "object",
        "description": "One day in a wallet portfolio chart series.",
        "required": [
          "day",
          "value_sol",
          "value_usd"
        ],
        "properties": {
          "day": {
            "type": "string",
            "format": "date",
            "description": "Calendar date in `YYYY-MM-DD` format (UTC).",
            "example": "2026-05-01"
          },
          "value_sol": {
            "type": "number",
            "description": "Portfolio value in SOL on this day, computed from historical `ohlcv_1d` closes."
          },
          "value_usd": {
            "type": "number",
            "description": "Portfolio value in USD. Uses the **current** SOL/USD rate for all historical points — Dexploit does not store a daily SOL/USD history. Apply your own historical SOL/USD to `value_sol` for accurate historical USD."
          },
          "provisional": {
            "type": "boolean",
            "description": "Present and `true` only on `today` — the current day is computed live and has not been finalized."
          }
        }
      },
      "PortfolioChartResponse": {
        "type": "object",
        "description": "Daily portfolio value series for a wallet. Closed days are immutable and served from the store; today is always computed live.",
        "required": [
          "wallet",
          "window",
          "series",
          "today",
          "computed_at"
        ],
        "properties": {
          "wallet": {
            "type": "string"
          },
          "window": {
            "type": "string",
            "example": "90d"
          },
          "series": {
            "type": "array",
            "description": "Closed days only. Each point is immutable once written.",
            "items": {
              "$ref": "#/components/schemas/PortfolioChartPoint"
            }
          },
          "today": {
            "allOf": [
              {
                "$ref": "#/components/schemas/PortfolioChartPoint"
              }
            ],
            "description": "Today's portfolio value, always computed live. `provisional: true` is always set."
          },
          "computed_at": {
            "type": "integer",
            "format": "int64",
            "description": "Unix epoch milliseconds when this response was assembled."
          }
        }
      },
      "PnlBasicResponse": {
        "type": "object",
        "description": "FIFO realized + unrealized PnL for a wallet. Includes a `warning` pointing to Phase 8 for full multi-lot PnL.",
        "required": [
          "wallet",
          "window",
          "realized_sol",
          "unrealized_sol",
          "total_volume_sol",
          "win_rate",
          "sell_count",
          "warning"
        ],
        "properties": {
          "wallet": {
            "type": "string"
          },
          "window": {
            "type": "string",
            "description": "The time window used (`all`, `30d`, `90d`, `1y`)."
          },
          "realized_sol": {
            "type": "number",
            "description": "Total FIFO realized PnL in SOL across all closed positions."
          },
          "unrealized_sol": {
            "type": "number",
            "description": "Unrealized PnL in SOL on remaining open lots."
          },
          "total_volume_sol": {
            "type": "number",
            "description": "Total SOL volume traded."
          },
          "win_rate": {
            "type": "number",
            "description": "Fraction of sells that were profitable (0.0–1.0)."
          },
          "sell_count": {
            "type": "integer",
            "description": "Number of sell transactions included."
          },
          "realized_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "Realized PnL in USD via the Pyth oracle. `null` when oracle unavailable."
          },
          "unrealized_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "Unrealized PnL in USD via the Pyth oracle. `null` when oracle unavailable."
          },
          "oracle": {
            "type": [
              "object",
              "null"
            ],
            "description": "Pyth SOL/USD oracle snapshot used for USD conversion."
          },
          "warning": {
            "type": "string",
            "description": "Always present. Explains that this is basic FIFO PnL and that full cost-basis ships in Phase 8."
          }
        }
      },
      "SolBalanceResponse": {
        "type": "object",
        "description": "Native SOL balance for a wallet. `sol_balance` is `null` when Shyft's `getBalance` call fails; the response is still 200.",
        "required": [
          "wallet",
          "computed_at"
        ],
        "properties": {
          "wallet": {
            "type": "string"
          },
          "sol_balance": {
            "type": [
              "number",
              "null"
            ],
            "description": "Native SOL balance (not lamports). `null` on Shyft error."
          },
          "sol_balance_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "SOL balance converted to USD via the Pyth oracle. `null` when balance or oracle is unavailable."
          },
          "computed_at": {
            "type": "integer",
            "format": "int64",
            "description": "Unix epoch milliseconds when this response was assembled."
          }
        }
      },
      "WalletStatsResponse": {
        "type": "object",
        "description": "Aggregate trading statistics for a wallet over a given window.",
        "required": [
          "wallet",
          "window"
        ],
        "properties": {
          "wallet": {
            "type": "string"
          },
          "window": {
            "type": "string"
          },
          "total_trades": {
            "type": "integer"
          },
          "win_count": {
            "type": "integer",
            "description": "Number of sells that were profitable."
          },
          "win_rate": {
            "type": "number",
            "description": "Fraction of sells that were profitable (0.0–1.0)."
          },
          "total_volume_sol": {
            "type": "number",
            "description": "Cumulative SOL volume."
          },
          "best_trade_pnl_sol": {
            "type": [
              "number",
              "null"
            ],
            "description": "Realized PnL of the single most profitable sell, in SOL."
          },
          "best_trade_mint": {
            "type": [
              "string",
              "null"
            ],
            "description": "Mint of the best trade."
          },
          "worst_trade_pnl_sol": {
            "type": [
              "number",
              "null"
            ],
            "description": "Realized PnL of the single worst sell, in SOL."
          },
          "worst_trade_mint": {
            "type": [
              "string",
              "null"
            ],
            "description": "Mint of the worst trade."
          }
        }
      },
      "OracleSnapshot": {
        "type": [
          "object",
          "null"
        ],
        "description": "Pyth SOL/USD oracle snapshot used for USD conversion. `null` when the oracle is unavailable.",
        "properties": {
          "price": {
            "type": "number",
            "description": "SOL/USD price."
          },
          "confidence": {
            "type": "number",
            "description": "Pyth confidence interval around `price`."
          },
          "published_at": {
            "type": "integer",
            "description": "Oracle publish time (Unix epoch seconds)."
          },
          "source": {
            "type": "string",
            "description": "Oracle source identifier (e.g. `pyth`)."
          }
        }
      },
      "RealizedBreakdown": {
        "type": "object",
        "description": "Realized PnL (SOL) under each accounting mode. Present on glass-box responses or when `breakdown=1`.",
        "properties": {
          "raw": {
            "type": "number"
          },
          "strict": {
            "type": "number"
          },
          "adjusted": {
            "type": "number"
          }
        }
      },
      "PnlPosition": {
        "type": "object",
        "description": "A single (wallet, mint) cost-basis position. All `*_sol` fields are already SOL (lamports/1e9). `avg_cost_per_token` and any spot price are lamports per **atomic** token unit. `first_trade_ts`/`last_trade_ts` are epoch **milliseconds**.",
        "properties": {
          "mint": {
            "type": "string",
            "description": "Token mint (omitted on token-keyed variants where `wallet` is present instead)."
          },
          "balance_atomic": {
            "type": "integer",
            "description": "Current open balance in atomic token units (int64)."
          },
          "avg_cost_per_token": {
            "type": "number",
            "description": "Average cost in lamports per atomic token unit."
          },
          "cost_basis_sol": {
            "type": "number"
          },
          "realized_sol": {
            "type": "number",
            "description": "Realized PnL in SOL for the selected `pnl_mode`."
          },
          "unrealized_sol": {
            "type": [
              "number",
              "null"
            ],
            "description": "Read-time spot unrealized PnL in SOL. `null` for null-priced mints."
          },
          "current_value_sol": {
            "type": [
              "number",
              "null"
            ],
            "description": "Read-time spot value of the open balance, in SOL. `null` when unpriced."
          },
          "total_buys_sol": {
            "type": "number"
          },
          "total_sells_sol": {
            "type": "number"
          },
          "total_buy_count": {
            "type": "integer"
          },
          "total_sell_count": {
            "type": "integer"
          },
          "largest_buy_sol": {
            "type": "number"
          },
          "largest_sell_sol": {
            "type": "number"
          },
          "fastest_flip_seconds": {
            "type": "integer",
            "description": "Shortest buy→sell round-trip in seconds (sentinel 0 = no flip)."
          },
          "longest_hold_seconds": {
            "type": "integer"
          },
          "first_trade_ts": {
            "type": "integer",
            "description": "Epoch milliseconds of the first trade in this position."
          },
          "last_trade_ts": {
            "type": "integer",
            "description": "Epoch milliseconds of the most recent trade."
          },
          "is_arbitrageur": {
            "type": "boolean",
            "description": "Whether this (wallet, mint) was tagged as habitual cross-venue arbitrage."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Inline per-(wallet, mint) wallet-intel tags."
          },
          "realized_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "Realized PnL in USD via the Pyth oracle."
          },
          "unrealized_usd": {
            "type": [
              "number",
              "null"
            ]
          },
          "current_value_usd": {
            "type": [
              "number",
              "null"
            ]
          },
          "cost_basis_usd": {
            "type": [
              "number",
              "null"
            ]
          },
          "realized_breakdown": {
            "allOf": [
              {
                "$ref": "#/components/schemas/RealizedBreakdown"
              }
            ],
            "description": "Only present on glass-box endpoints (single-token, batch, traders) or when `breakdown=1`."
          }
        }
      },
      "PnlPositionByWallet": {
        "type": "object",
        "description": "Same shape as `PnlPosition` but keyed on `wallet` (the `mint` key is removed and `wallet` inserted). Returned by token-scoped endpoints.",
        "properties": {
          "wallet": {
            "type": "string"
          },
          "balance_atomic": {
            "type": "integer"
          },
          "avg_cost_per_token": {
            "type": "number"
          },
          "cost_basis_sol": {
            "type": "number"
          },
          "realized_sol": {
            "type": "number"
          },
          "unrealized_sol": {
            "type": [
              "number",
              "null"
            ]
          },
          "current_value_sol": {
            "type": [
              "number",
              "null"
            ]
          },
          "total_buys_sol": {
            "type": "number"
          },
          "total_sells_sol": {
            "type": "number"
          },
          "total_buy_count": {
            "type": "integer"
          },
          "total_sell_count": {
            "type": "integer"
          },
          "largest_buy_sol": {
            "type": "number"
          },
          "largest_sell_sol": {
            "type": "number"
          },
          "fastest_flip_seconds": {
            "type": "integer"
          },
          "longest_hold_seconds": {
            "type": "integer"
          },
          "first_trade_ts": {
            "type": "integer",
            "description": "Epoch milliseconds."
          },
          "last_trade_ts": {
            "type": "integer",
            "description": "Epoch milliseconds."
          },
          "is_arbitrageur": {
            "type": "boolean"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "realized_breakdown": {
            "$ref": "#/components/schemas/RealizedBreakdown"
          },
          "realized_usd": {
            "type": [
              "number",
              "null"
            ]
          },
          "unrealized_usd": {
            "type": [
              "number",
              "null"
            ]
          },
          "current_value_usd": {
            "type": [
              "number",
              "null"
            ]
          },
          "cost_basis_usd": {
            "type": [
              "number",
              "null"
            ]
          }
        }
      },
      "PnlV2Summary": {
        "type": "object",
        "description": "Cost-basis PnL summary for a wallet (Phase 8 engine). All `*_sol` fields are SOL. `unrealized_sol` is read-time spot Σ(price−avg_cost)*balance; null-priced mints contribute 0. Wallets with no positions return zeros and an empty `positions` array.",
        "properties": {
          "wallet": {
            "type": "string"
          },
          "pnl_mode": {
            "type": "string"
          },
          "realized_sol": {
            "type": "number"
          },
          "unrealized_sol": {
            "type": "number",
            "description": "Read-time spot unrealized PnL (null-priced mints contribute 0)."
          },
          "cost_basis_sol": {
            "type": "number"
          },
          "open_positions": {
            "type": "integer",
            "description": "Count of positions with balance > 0 and not a quote mint."
          },
          "closed_positions": {
            "type": "integer",
            "description": "Count of positions with balance == 0."
          },
          "realized_usd": {
            "type": [
              "number",
              "null"
            ]
          },
          "unrealized_usd": {
            "type": [
              "number",
              "null"
            ]
          },
          "oracle": {
            "$ref": "#/components/schemas/OracleSnapshot"
          },
          "positions": {
            "type": "array",
            "description": "Compact per-position rows.",
            "items": {
              "type": "object",
              "properties": {
                "mint": {
                  "type": "string"
                },
                "balance_atomic": {
                  "type": "integer"
                },
                "realized_sol": {
                  "type": "number"
                },
                "unrealized_sol": {
                  "type": [
                    "number",
                    "null"
                  ]
                },
                "is_arbitrageur": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      },
      "LeaderboardRow": {
        "type": "object",
        "description": "One ranked wallet on a realized-PnL leaderboard.",
        "properties": {
          "rank": {
            "type": "integer",
            "description": "Offset-aware, 1-based."
          },
          "wallet": {
            "type": "string"
          },
          "realized_sol": {
            "type": "number"
          },
          "win_rate": {
            "type": "number",
            "description": "Winning sells / total sells (0.0–1.0)."
          },
          "trade_count": {
            "type": "integer",
            "description": "Σ total_sell_count."
          },
          "is_kol": {
            "type": "boolean"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "KolLeaderboardRow": {
        "type": "object",
        "description": "One ranked KOL wallet (adds Twitter/display metadata).",
        "properties": {
          "rank": {
            "type": "integer",
            "description": "Offset-aware, 1-based."
          },
          "wallet": {
            "type": "string"
          },
          "realized_sol": {
            "type": "number"
          },
          "win_rate": {
            "type": "number"
          },
          "trade_count": {
            "type": "integer"
          },
          "is_kol": {
            "type": "boolean"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "twitter_handle": {
            "type": [
              "string",
              "null"
            ]
          },
          "display_name": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "KolCalendarRow": {
        "type": "object",
        "description": "One KOL row in the realized-only heatmap. `cells` is sparse — one cell per active day, carrying that day's realized DELTA.",
        "properties": {
          "wallet": {
            "type": "string"
          },
          "display_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "twitter_handle": {
            "type": [
              "string",
              "null"
            ]
          },
          "is_kol": {
            "type": "boolean"
          },
          "all_time_realized_sol": {
            "type": "number"
          },
          "cells": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "day": {
                  "type": "string",
                  "description": "YYYY-MM-DD."
                },
                "realized_sol": {
                  "type": "number",
                  "description": "Per-day realized delta."
                }
              }
            }
          }
        }
      },
      "TokenTraderRow": {
        "type": "object",
        "description": "One trader of a token, with mode-selected realized PnL plus the full breakdown.",
        "properties": {
          "wallet": {
            "type": "string"
          },
          "realized_sol": {
            "type": "number",
            "description": "Mode-selected."
          },
          "realized_breakdown": {
            "$ref": "#/components/schemas/RealizedBreakdown"
          },
          "unrealized_sol": {
            "type": [
              "number",
              "null"
            ]
          },
          "current_value_sol": {
            "type": [
              "number",
              "null"
            ]
          },
          "balance_atomic": {
            "type": "integer"
          },
          "avg_cost_per_token": {
            "type": "number"
          },
          "cost_basis_sol": {
            "type": "number"
          },
          "total_buy_count": {
            "type": "integer"
          },
          "total_sell_count": {
            "type": "integer"
          },
          "is_arbitrageur": {
            "type": "boolean"
          },
          "is_kol": {
            "type": "boolean"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "FirstBuyerRow": {
        "type": "object",
        "description": "An early buyer of a token, ordered by (first_buy_ts, first_slot, first_sig).",
        "properties": {
          "wallet": {
            "type": "string"
          },
          "first_buy_ts": {
            "type": "integer",
            "description": "Epoch milliseconds."
          },
          "first_buy_slot": {
            "type": "integer",
            "description": "Solana slot (uint64)."
          },
          "first_buy_sol": {
            "type": "number"
          },
          "first_buy_tokens_atomic": {
            "type": "integer",
            "description": "Atomic token units bought (uint64)."
          },
          "signature": {
            "type": "string"
          },
          "pnl": {
            "type": "object",
            "description": "Present only when `enrich=1`. Zeroed (`{realized_sol:0, balance_atomic:0, unrealized_sol:null}`) for buyers with no tracked position.",
            "properties": {
              "realized_sol": {
                "type": "number"
              },
              "balance_atomic": {
                "type": "integer"
              },
              "unrealized_sol": {
                "type": [
                  "number",
                  "null"
                ]
              }
            }
          }
        }
      },
      "PnlHighlight": {
        "type": [
          "object",
          "null"
        ],
        "description": "A standout position. `null` when no qualifying row matched.",
        "properties": {
          "mint": {
            "type": "string"
          },
          "realized_sol": {
            "type": "number"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ScreenerResultV2": {
        "type": "object",
        "description": "Full Phase-7 V2 screener result row (`compact=false`).",
        "properties": {
          "mint": {
            "type": "string"
          },
          "volume_sol": {
            "type": "number"
          },
          "price_per_token": {
            "type": "number",
            "description": "Price in **lamports per atomic token unit** (1 SOL = 1e9 lamports)."
          },
          "last_ts": {
            "type": "integer",
            "description": "Epoch ms of most recent swap considered."
          },
          "first_ts": {
            "type": "integer",
            "description": "Epoch ms of first swap in the window."
          },
          "age_hours": {
            "type": "number"
          },
          "change_pct": {
            "type": "number"
          },
          "buys": {
            "type": "integer",
            "description": "uint64."
          },
          "sells": {
            "type": "integer",
            "description": "uint64."
          },
          "curve_pct": {
            "type": "number",
            "description": "Bonding-curve progress = real_sol_reserves / 85e9 * 100."
          },
          "liquidity_sol": {
            "type": [
              "number",
              "null"
            ],
            "description": "Pool/curve liquidity in SOL. A **number** when `liquidity_status` is `IN_CURVE`; **0** when `DRAINED` (curve reserves collapsed — LP-drain/rug); **null** for `POOL_DEPTH` (graduated/AMM pools, where curve liquidity is not the relevant measure)."
          },
          "liquidity_status": {
            "type": "string",
            "enum": [
              "IN_CURVE",
              "POOL_DEPTH",
              "DRAINED"
            ],
            "description": "Source/meaning of `liquidity_sol`. `IN_CURVE` = pre-graduation bonding-curve liquidity (numeric `liquidity_sol`); `POOL_DEPTH` = post-graduation AMM pool depth (`liquidity_sol` is null); `DRAINED` = curve reserves collapsed / rugged (`liquidity_sol` is `0`)."
          },
          "market_cap": {
            "type": [
              "number",
              "null"
            ],
            "description": "Market cap in SOL. **null** (not 0) when not yet computable."
          },
          "holder_count": {
            "type": [
              "integer",
              "null"
            ],
            "description": "uint64. **null** (not 0) when holder data has not been computed for this mint yet."
          },
          "top10_pct": {
            "type": [
              "number",
              "null"
            ],
            "description": "Top-10 (pool-excluded) share of supply. **null** (not 0) when holder data is unavailable."
          },
          "dev_held_pct": {
            "type": "number"
          },
          "insider_count": {
            "type": "integer",
            "description": "uint32."
          },
          "insider_pct": {
            "type": "number"
          },
          "sniper_count": {
            "type": "integer",
            "description": "uint32."
          },
          "sniper_pct": {
            "type": "number"
          },
          "bundler_count": {
            "type": "integer",
            "description": "uint32."
          },
          "bundler_pct": {
            "type": "number"
          },
          "graduated_ts": {
            "type": "integer",
            "description": "Epoch ms (int64)."
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "graduating",
              "graduated",
              "rugged"
            ]
          },
          "trending_score": {
            "type": "number"
          }
        }
      },
      "ScreenerResultV2Compact": {
        "type": "object",
        "description": "Compact Phase-7 V2 screener result row (`compact=true`).",
        "properties": {
          "mint": {
            "type": "string"
          },
          "volume_sol": {
            "type": "number"
          },
          "price_per_token": {
            "type": "number",
            "description": "Price in lamports per atomic token unit (1 SOL = 1e9 lamports)."
          },
          "change_pct": {
            "type": "number"
          },
          "market_cap": {
            "type": [
              "number",
              "null"
            ],
            "description": "**null** (not 0) when not yet computable."
          },
          "holder_count": {
            "type": [
              "integer",
              "null"
            ],
            "description": "**null** (not 0) when holder data is unavailable."
          },
          "status": {
            "type": "string"
          }
        }
      },
      "ScreenerFiltersV2": {
        "type": "object",
        "description": "Phase-7 V2 screener filters (~40 fields, all optional, combined as AND). Replaces the legacy 6-field `ScreenerFilters`. Range filters take `{min, max}`. Volume/change windows default to `1h`.",
        "properties": {
          "liquidity_sol": {
            "type": "object",
            "properties": {
              "min": {
                "type": "number"
              },
              "max": {
                "type": "number"
              }
            }
          },
          "volume_sol": {
            "type": "object",
            "properties": {
              "window": {
                "type": "string",
                "enum": [
                  "5m",
                  "15m",
                  "1h",
                  "6h",
                  "24h"
                ],
                "default": "1h"
              },
              "min": {
                "type": "number"
              },
              "max": {
                "type": "number"
              }
            }
          },
          "age_hours": {
            "type": "object",
            "properties": {
              "min": {
                "type": "number"
              },
              "max": {
                "type": "number"
              }
            }
          },
          "change_pct": {
            "type": "object",
            "properties": {
              "window": {
                "type": "string",
                "enum": [
                  "5m",
                  "15m",
                  "1h",
                  "6h",
                  "24h"
                ],
                "default": "1h"
              },
              "min": {
                "type": "number"
              },
              "max": {
                "type": "number"
              }
            }
          },
          "audit": {
            "type": "object",
            "properties": {
              "mint_revoked": {
                "type": "boolean"
              },
              "freeze_revoked": {
                "type": "boolean"
              },
              "lp_burnt": {
                "type": "boolean"
              }
            }
          },
          "trending_score": {
            "type": "object",
            "properties": {
              "min": {
                "type": "number"
              },
              "max": {
                "type": "number"
              }
            }
          },
          "sectors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "dexes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "query": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "mint": {
            "type": "string",
            "description": "Single mint address. Must be a valid base58 mint; a malformed value returns `400 invalid parameter: invalid_filter:mint` (see endpoint responses)."
          },
          "mints": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 200,
            "description": "Batch filter — restrict results to this set of mints (cap 200). Use this to fetch screener rows for a known list of tokens in one call. Any malformed entry returns `400 invalid parameter: invalid_filter:mints`."
          },
          "creator": {
            "type": "string",
            "description": "Creator/deployer wallet. A malformed (non-base58) value returns `400 invalid parameter: invalid_filter:creator`."
          },
          "has_image": {
            "type": "boolean"
          },
          "has_socials": {
            "type": "boolean"
          },
          "has_twitter": {
            "type": "boolean"
          },
          "has_telegram": {
            "type": "boolean"
          },
          "has_website": {
            "type": "boolean"
          },
          "launchpad": {
            "type": "string"
          },
          "market": {
            "type": "string"
          },
          "created_at": {
            "type": "object",
            "properties": {
              "min": {
                "type": "integer"
              },
              "max": {
                "type": "integer"
              }
            },
            "description": "Epoch (uint) range."
          },
          "market_cap": {
            "type": "object",
            "properties": {
              "min": {
                "type": "number"
              },
              "max": {
                "type": "number"
              }
            }
          },
          "status": {
            "type": "string"
          },
          "holders": {
            "type": "object",
            "properties": {
              "min": {
                "type": "integer"
              },
              "max": {
                "type": "integer"
              }
            }
          },
          "top10": {
            "type": "object",
            "properties": {
              "min": {
                "type": "number"
              },
              "max": {
                "type": "number"
              }
            }
          },
          "dev": {
            "type": "object",
            "properties": {
              "min": {
                "type": "number"
              },
              "max": {
                "type": "number"
              }
            }
          },
          "insiders": {
            "type": "object",
            "properties": {
              "min": {
                "type": "integer"
              },
              "max": {
                "type": "integer"
              }
            }
          },
          "insiders_pct": {
            "type": "object",
            "properties": {
              "min": {
                "type": "number"
              },
              "max": {
                "type": "number"
              }
            }
          },
          "snipers": {
            "type": "object",
            "properties": {
              "min": {
                "type": "integer"
              },
              "max": {
                "type": "integer"
              }
            }
          },
          "snipers_pct": {
            "type": "object",
            "properties": {
              "min": {
                "type": "number"
              },
              "max": {
                "type": "number"
              }
            }
          },
          "bundlers": {
            "type": "object",
            "properties": {
              "min": {
                "type": "integer"
              },
              "max": {
                "type": "integer"
              }
            }
          },
          "bundlers_pct": {
            "type": "object",
            "properties": {
              "min": {
                "type": "number"
              },
              "max": {
                "type": "number"
              }
            }
          },
          "graduated_at": {
            "type": "object",
            "properties": {
              "min": {
                "type": "integer"
              },
              "max": {
                "type": "integer"
              }
            }
          },
          "curve_pct": {
            "type": "object",
            "properties": {
              "min": {
                "type": "number"
              },
              "max": {
                "type": "number"
[...]
